<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header"
             ng-class="{'is-ok': infortuniForm.$pristine && infortuniForm.$valid, 'has-error': !infortuniForm.$pristine || !infortuniForm.$valid}">
            <h1 class="titleSection">{{'global.infortuni.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">
            <pre ng-if="$debugMode">{{$ctrl.infortuni}}</pre>

            <div class="margin-top-1 margin-bottom-2 col-lg-12">
                <span class="subsectionTitle">{{'global.infortuni.title' | translate}}</span>
            </div>

            <form name="infortuniForm" novalidate>

                <div class="col-lg-12">

                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 classicInputRadio" ng-class="{'has-error' : infortuniForm.conducenteIsNotContraente.$invalid}">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="true" name="conducenteIsNotContraente"
                                       ng-model="$ctrl.infortuni.conducenteIsNotContraente" ng-required="true">
                                <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="false" name="conducenteIsNotContraente" ng-required="true"
                                       ng-model="$ctrl.infortuni.conducenteIsNotContraente">
                                <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                            <label>{{'global.dannorca.labels.contraenteconducente' | translate}}</label>
                        </div>
                    </div>

                    <!-- FORM CONDUCENTE -->
                    <div class="row">
                        <msa-anagrafica-conducente
                                ng-if="$ctrl.infortuni.conducenteIsNotContraente"
                                input="$ctrl.infortuni.conducente"
                                result="$ctrl.infortuni.conducente">

                        </msa-anagrafica-conducente>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="blueLine"/>
                        </div>
                    </div>

                </div>

                <!-- AUTO -->


                <!-- DANNO -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea" ng-class="{'has-error' : infortuniForm.descrizioneDanno.$invalid}">
                    <textarea class="textauto"
                              ng-model="$ctrl.infortuni.descrizioneDanni"
                              name="descrizioneDanno"
                              ng-required="false">

                    </textarea>
                    <label>{{'global.kasko.labels.descrizionedanno' | translate}}</label>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea" ng-class="{'has-error' : infortuniForm.osservazioniCliente.$invalid}">
                    <textarea class="textauto"
                              name="osservazioniCliente"
                              ng-model="$ctrl.infortuni.osservazioniCliente"
                              ng-required="false"></textarea>
                    <label>{{'global.kasko.labels.osservazioniCliente' | translate}}</label>
                </div>

                <msa-autorita
                        result="$ctrl.infortuni"
                        name="'interventoAutorita'">
                </msa-autorita>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicButton">
                    <button class="blueButton"
                            ng-click=" $ctrl.salvaInfortuni()"
                            ng-disabled="infortuniForm.$invalid">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>