<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header"
             ng-class="{'is-ok': furtoTotaleForm.$pristine && furtoTotaleForm.$valid, 'has-error': !furtoTotaleForm.$pristine || !furtoTotaleForm.$valid}">
            <h1 class="titleSection">{{'global.furtoTotale.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">
            <pre ng-if="$debugMode">{{$ctrl.furtoTotale}}</pre>

            <div class="margin-top-1 margin-bottom-2 col-lg-12">
                <span class="subsectionTitle">{{'global.furtoTotale.title' | translate}}</span>
            </div>

            <form name="furtoTotaleForm" novalidate>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicTextArea" ng-class="{'has-error' : furtoTotaleForm.descrizioneDanno.$invalid}">
                    <textarea class="textauto" ng-model="$ctrl.furtoTotale.descrizioneDanni" name="descrizioneDanno" ng-required="true"></textarea>
                    <label>{{'global.furtoTotale.labels.descrizionedanno' | translate}}</label>
                </div>

                <msa-autorita
                        result="$ctrl.furtoTotale"
                        name="'interventoAutorita'">
                </msa-autorita>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicButton">
                    <button class="blueButton"
                            ng-click=" $ctrl.salvaFurtoTotale()">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>