<div class="modal-header">
    <h1>Dettaglio Polizza</h1>
</div>

<div class="modal-body">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="numpoli" ng-model="$ctrl.polizza.numPolizza"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.numpoli' | translate}}</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="prodotto" ng-model="$ctrl.polizza.prodotto" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.prodotto' | translate}}</label>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 classicInputCheckBox">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 noPaddingLeft">
                    <input type="checkbox" ng-checked="$ctrl.polizza.prodotto.indexOf($ctrl.clearbox) !== -1">
                    <label class="rightLabel">{{'global.polizzesinistri.labels.clearbox' | translate}}</label>
                </div>

                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs noPaddingRight">&nbsp;</div>

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="attivazione"
                       ng-model="$ctrl.polizza.dataCopertura | date:'dd/MM/yyyy'"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.attivazione' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="scadenza"
                       ng-model="$ctrl.polizza.dataScadenza | date:'dd/MM/yyyy'"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.scadenza' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="stato" value="ATTIVA" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.stato' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="variazione" ng-model="$ctrl.polizza.variazione" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.variazione' | translate}}</label>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <hr class="blueLine"/>
    </div>

    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-12">
                <span class="subsectionTitle bold">{{'global.polizzesinistri.labels.dativeicolo' | translate}}</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="targabene" ng-model="$ctrl.polizza.targa "
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.targabene' | translate }}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="telaio" ng-model="$ctrl.polizza.telaio"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.telaio' | translate }}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="immatricolazione"
                       ng-model="$ctrl.polizza.dataImmatricolazione | date:'dd/MM/yyyy'"
                       ng-readonly="true">
                <label>{{'global.veicolo.immatricolazione' | translate }}</label>
            </div>

        </div>


        <div class="row">


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="marca" ng-model="$ctrl.polizza.marca"
                       ng-readonly="true">
                <label>{{'global.veicolo.marca' | translate }}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="modello" ng-model="$ctrl.polizza.modello"
                       ng-readonly="true">
                <label>{{'global.veicolo.modello' | translate }}</label>
            </div>

        </div>
    </div>


    <div class="col-lg-12">
        <hr class="blueLine"/>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="row"><span class="subsectionTitle bold">{{'global.polizzesinistri.labels.datesospensione' | translate}}</span>
            </div>
        </div>


        <!--  <div class="col-lg-12">
             <div class="row">
                 <div class="table-responsive">


                     <table class="table dettagliopolizzatable">
                         <thead>
                         <tr>
                             <th>{{'global.polizzesinistri.labels.da' | translate}}</th>
                             <th>{{'global.polizzesinistri.labels.a' | translate}}</th>
                         </tr>
                         </thead>

                         <tr class="elements">
                             <td>25/12/2017</td>
                             <td>25/12/2017</td>
                         </tr>
                         <tr class="elements">
                             <td>25/12/2017</td>
                             <td>25/12/2017</td>
                         </tr>
                     </table>
                 </div>
             </div>
          -->
    </div>
</div>

<div class="col-lg-12">
    <hr class="blueLine"/>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <span class="subsectionTitle bold">{{'global.polizzesinistri.labels.elencogp' | translate}}</span>
        </div>


    </div>
</div>
<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table dettagliopolizzatable">
            <thead>
            <tr class="header">
                <th>{{'global.polizzesinistri.labels.garanzia'| translate}}</th>
                <th>{{'global.polizzesinistri.labels.prestazione'| translate}}</th>
                <th>{{'global.polizzesinistri.labels.franchigia'| translate}}</th>
                <th>{{'global.polizzesinistri.labels.scoperto'| translate}}</th>
                <th>{{'global.polizzesinistri.labels.massimale'| translate}}</th>

            </tr>

            </thead>
            <tr ng-repeat="garanzia in $ctrl.polizza.listaGaranzie">
                <td><p class="capitalized">{{garanzia.descrizione }}</p></td>
                <td><p class="capitalized">{{garanzia.descrizione }}</p></td>
                <td><p>{{garanzia.franchigia}}</p></td>
                <td><p>{{garanzia.scoperto }}</p></td>
                <td><p>{{garanzia.massimaleVeicolo }}</p></td>
            </tr>

        </table>
    </div>
</div>


<div class="modal-footer">
    <div class="col-lg-12">
        <button class="btn grayButton" type="button" ng-click="$ctrl.cancel()">OK</button>
    </div>
</div>