<div class="modal-header">
    <h1>Dettaglio Polizza</h1>
</div>

<div class="modal-body">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="numpoli" ng-model="$ctrl.dettagliopolizza.numpoli" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.numpoli' | translate}}</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="prodotto" ng-model="$ctrl.dettagliopolizza.prodotto" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.prodotto' | translate}}</label>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 classicInputCheckBox">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 noPaddingLeft">
                    <input type="checkbox" ng-checked="$ctrl.polizza.prodotto.indexOf($ctrl.clearbox) !== -1">
                    <label class="rightLabel">{{'global.polizzesinistri.labels.clearbox' | translate}}</label>
                </div>

                <div class="col-lg-4 col-md-4 hidden-sm hidden-xs noPaddingRight">&nbsp;</div>

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="attivazione" ng-model="$ctrl.dettagliopolizza.attivazione"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.attivazione' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="bold" name="scadenza" ng-model="$ctrl.dettagliopolizza.scadenza" ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.scadenza' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="stato" ng-model="$ctrl.dettagliopolizza.stato" ng-readonly="true" >
                <label>{{'global.polizzesinistri.labels.stato' | translate}}</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="variazione" ng-model="$ctrl.dettagliopolizza.variazione" ng-readonly="true" >
                <label>{{'global.polizzesinistri.labels.variazione' | translate}}</label>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <hr class="blueLine"/>
    </div>

    <!-- SE PERSONA FISICA -->
    <div class="col-lg-12" ng-if="$ctrl.anagrafica.tipoPersona === $ctrl.TipologiaEnum.FISICA">

        <div class="row">

            <div class="col-lg-12">
                <span class="subsectionTitleBold">{{'global.polizzesinistri.labels.dativeicolo' | translate}}</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" class="uppercase" name="targabene" ng-model="$ctrl.dettagliopolizza.targabene"
                       ng-readonly="true">
                <label>{{'global.polizzesinistri.labels.targabene' | translate }}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                <input type="textarea" class="uppercase" name="telaio" ng-model="$ctrl.dettagliopolizza.telaio"
                       disabled>
                <label>{{'global.polizzesinistri.labels.telaio' | translate }}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                <input type="textarea" class="uppercase" name="telaio" ng-model="$ctrl.dettagliopolizza.telaio"
                       disabled>
                <label>{{'global.polizzesinistri.labels.telaio' | translate }}</label>
            </div>

        </div>
    </div>


    <!-- SE PERSONA GIURIDICA -->
    <div class="col-lg-12" ng-if="$ctrl.anagrafica.tipoPersona === $ctrl.TipologiaEnum.GIURIDICA">

        <div class="row">

            <div class="col-lg-12">
                <span class="subsectionTitle">{{'global.people.piva' | translate}}</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputText">
                <input type="text" name="cf" ng-model="$ctrl.anagrafica.cf">
                <label>{{'global.people.piva' | translate}}</label>
            </div>
        </div>
    </div>

    <!-- In tutti i casi -->
    <div class="col-lg-12">
        <hr class="blueLine"/>
    </div>
    <div class="col-lg-12">
        <span class="subsectionTitle">{{'global.people.tracking' | translate}}</span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputText">
        <input type="text" name="telefono" ng-model="$ctrl.anagrafica.telefono">
        <label>{{'global.people.telefono' | translate}}</label>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputText">
        <input type="text" name="mail" ng-model="$ctrl.anagrafica.mail">
        <label>{{'global.people.email' | translate}}</label>
    </div>


    <div class="col-lg-12">
        <hr class="blueLine"/>
    </div>
    <div class="col-lg-12">
        <span class="subsectionTitle" ng-if="$ctrl.anagrafica.tipoPersona === $ctrl.TipologiaEnum.FISICA">{{'global.people.residenza' | translate}}</span>
        <span class="subsectionTitle" ng-if="$ctrl.anagrafica.tipoPersona === $ctrl.TipologiaEnum.GIURIDICA">{{'global.people.posizione' | translate}}</span>
    </div>

    <msa-place result="$ctrl.anagrafica.residenza"></msa-place>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputText">
        <input type="text" name="denominazioneStrada" ng-model="$ctrl.anagrafica.residenza.indirizzo"
               ng-required="true">
        <label>{{'global.denunciasinitro.labels.indirizzo' | translate}}</label>
    </div>

</div>

<div class="modal-footer">
    <div class="col-lg-12">
        <button class="btn grayButton" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        <button class="btn blueButton" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
</div>