<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header">
            <h1 class="titleSection">{{'global.partitedanno.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <pre ng-if="$debugMode">{{$ctrl.pd}}</pre>

            <div class="col-lg-12">
                <table class="table msa-table">
                    <thead>
                        <tr> <!-- TODO stringhe scolpite-->
                            <th>Identificativo</th>
                            <th>Ruolo</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partita in $ctrl.pd">
                            <td>{{partita.bene}}</td>
                            <td>{{partita.ruolo.descrizione}}</td>
                            <td>{{(partita.note.nome ? partita.note.nome + " " + partita.note.cognome : partita.note.ragioneSociale) + ", " + partita.note.cf}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-12 classicButton">
                    <button class="blueButton"
                            ng-click="$ctrl.salvaPd()">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>