<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header"
             ng-class="{'is-ok': formIncendioVeicolo.$pristine && formIncendioVeicolo.$valid, 'has-error': !formIncendioVeicolo.$pristine || !formIncendioVeicolo.$valid}">
            <h1 class="titleSection">{{'global.incendio.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <pre ng-if="$debugMode">{{$ctrl.incendio}}</pre>

            <form name="formIncendioVeicolo" novalidate>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputRadio">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                        <input type="radio" ng-value="true" name="sviluppoFiamme"
                               ng-model="$ctrl.incendio.sviluppoFiamme" ng-required="true">
                        <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingRight">
                        <input type="radio" ng-value="false" name="sviluppoFiamme"
                               ng-model="$ctrl.incendio.sviluppoFiamme" ng-required="true">
                        <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                    <label>{{'global.incendio.labels.sviluppoFiamme' | translate}}</label>
                </div>
                <!--END INPUT RADIO-->

                <!--INPUT RADIO-->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 classicInputRadio">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                        <input type="radio" ng-value="true" name="responsabilitaTerzi"
                               ng-model="$ctrl.incendio.responsabilitaTerzi"
                               ng-required="true">
                        <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                        <input type="radio" ng-value="false" name="responsabilitaTerzi"
                               ng-model="$ctrl.incendio.responsabilitaTerzi"
                               ng-required="true">
                        <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                    <label>{{'global.incendio.labels.responsabilitaTerzi' | translate}}</label>
                </div>
                <!--END INPUT RADIO-->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea">
                    <textarea class="textauto" name="descrizioneDanni" ng-model="$ctrl.incendio.descrizioneDanni" ng-required="false"></textarea>
                    <label>{{'global.incendio.labels.descrizioneDanni' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea">
                    <textarea class="textauto" name="osservazioniCliente" ng-model="$ctrl.incendio.osservazioniCliente" ng-required="false"></textarea>
                    <label>{{'global.incendio.labels.osservazioniCliente' | translate}}</label>
                </div>

                <msa-autorita
                    input=""
                    result="$ctrl.incendio"
                    name="'interventoAutorita'">

                </msa-autorita>

            </form>

            <div class="row">
                <div class="col-lg-12 classicButton">
                    <button class="blueButton"
                            ng-click="$ctrl.salvaIncendio()"
                            ng-disabled="formIncendioVeicolo.$invalid">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' |
                            translate}}</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>