@charset "UTF-8";

#fe-cs-wrapper {

  @include itas-form();
  .input-group,
  .form-group {
    label.control-label {
    }
    .form-control {
      border-color: $itas_azure;
      color: $black;
      background: $white;
    }
  }
  width: 100%;
  padding: 0;
  position: relative;
  /*position: fixed;*/
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #fe-cs-page-content-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 75%;
    height: 100%;
    float: left;
    border-right: 1px solid $color_celeste_approx;
    /*overflow-y: auto;*/
    overflow-y: hidden;

    .page-content {
      height: 100%;

      /* LAYOUT EMISSIONE START */

      #wr-cc {
        position: relative;
        /*overflow: hidden;*/
        width: 100%;
        height: 100%;

        #in-cc {
          width: 100%;
          height: 100%;

          .tt-cc {
            width: 100%;
            border-bottom: 1px solid $color_celeste_approx;
            .tt-cc-first {
              font-size: 2rem;
              color: $darkgray;
              padding: 5px 0;
              > div {
                > span {
                  font-family: $font_blkCn;
                }
              }
              .glyphicon {
                top: 3px;
              }
            }

            .tt-cc-collapse {
              .row {
                background: $whitesmoke;
                p {
                  font-family: $font_ltCnO;
                  font-size: 1.8rem;
                  color: $darkgray;
                  span {
                    font-family: $font_mdCnO;
                  }
                }
                &:first-of-type {
                  padding-top: 10px;
                  border-top: 1px solid $color_celeste_approx;
                }
              }
            }
            .clearfix:after {
              height: 100vh;
              /*background-color: rgba(255, 255, 255, 0.5);*/
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              width: 100%;
              cursor: not-allowed;
              opacity: 0.4;
              left: 0;
              right: 0;
              z-index: 2;
            }

          }

          .cc-cc {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 0;
            margin: 0;
            padding: 0;
            margin-bottom: -150px;
            padding-bottom: 150px;
            .sx-cc {
              float: left;
              width: 200px;
              height: 100%;
              background: $delfino;
              position: relative;
              overflow-y: auto;
            }

            .dx-cc {
              width: auto;
              height: 100%;
              position: relative;
              overflow-y: auto;
              overflow-x: hidden;
              .popover-dati-entita{
                position: absolute;
                top: 10px;
                right: 20px;
              }
            }

          }
          @media only screen and (max-width: 991px) {
            .cc-cc {
              margin-bottom: -275px;
              padding-bottom: 275px
            }
          }
          /*@media only screen and (max-width: 1199px) {
            .cc-cc {
              margin-bottom: -275px;
              padding-bottom: 275px
            }
          }*/
        }

      }

      /* LAYOUT EMISSIONE END */

    }

  }

  .detail {
    p {
      font-size: 2rem;
      color: $black;
      font-weight: normal;
      text-transform: capitalize;
      margin-bottom: 0;
      margin-top: 5px;
    }
    span {
      font-size: 2rem;
      color: $darkgray;
      font-weight: normal;
      text-transform: capitalize;
    }
  }

  .titleconsultazionegaranzie {
    margin: 0;
    clear: both;
  }

  .adattamentoperscroll {
    margin-bottom: -50px;
    padding-bottom: 50px;
  }

  #fe-cs-sidebar-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    overflow-y: auto;
    float: right;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;

    .sidebar-content {
      height: 100%;
    }

  }
  /* Collapsible sidebar */
  &.collapsed {
    #fe-cs-page-content-wrapper {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
    #fe-cs-sidebar-wrapper {
      margin-right: -25%;
    }
  }
  /*#fe-cs-footer-wrapper {
    width: 100%;
    height: 100px;
    clear: both;
    background: $itas_red;
    color: $white;
    position: fixed;
    bottom: -50px;
    left: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    p.footer-txt{
      height: 100%;
      display: block;
      vertical-align: middle;
      margin: 0 auto;
      span{
        height: 50px;
        margin: 25px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .fe-totali-big{
      font-size: 5rem;
    }

    .fe-totali{
      font-size: 4rem;
    }

    .btn-procedi{
      text-transform: uppercase;
      height: 50px;
      margin: 25px;
      padding-right: 40px;
      padding-left: 40px;
      &:hover{
        color: $itas_red;
        background: $white;
      }
    }
    &:hover {
      bottom: 0px;
    }
  }*/
}

/*@import "_riepilogo_e_firma";*/

.borderRightcs {
  border-right: 1px solid $darkgray;
}
@media only screen and (max-width: 991px) {
  .borderRightcs {
    border-right: 0 solid $darkgray;
  }
}

#modaltitolics {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containerheadbig {
          position: relative;
          height: 100px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
          .headgrayrelative {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
          }
          .headgraysmall {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            width: 100%;
            transform: translate(0, 1.5rem);
            white-space: nowrap;
          }
          .subheadredsmall {
            margin: 0;
            color: $white;
            text-align: center;
            text-transform: capitalize;
            font-style: italic;
            font-size: 1.6rem;
            background: $itas_red;
            height: 50px;
            line-height: 3;
            position: relative;
            transform: translate(0, 26px);
          }
        }
        .containersubhead {
          height: 50px;
          position: relative;
          background: $itas_red;
          .subheadred {
            margin: 0;
            color: $white;
            text-align: center;
            text-transform: capitalize;
            font-style: italic;
            font-size: 1.6rem;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          border-right: 1px solid $darkgray;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
      .containercopyspecial {
        height: auto;
        position: relative;
        border-right: 1px solid $darkgray;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        padding: 0!important;
        .copytablespecial {
          line-height: 1;
          font-size: 1.6rem;
          font-family: $font_ltCn;
          width: 100%;
          position: relative;
          text-align: center;
          height: 35px;
          .elemetspecial {
            margin: 0;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 100%;
          }
        }
      }
    }
  }
}

#modalcollegatecs {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#catalogosostituzionics {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#informazioniaggiuntivecs {
  div {
    .detail {
      p {
        font-size: 2rem;
        color: $black;
        font-weight: normal;
        text-transform: capitalize;
        margin-bottom: 0;
        margin-top: 5px;
      }
      span {
        font-size: 2rem;
        color: $darkgray;
        font-weight: normal;
        text-transform: capitalize;
      }
    }
  }
}

#legamianagraficics {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#clausolecs {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#consultazionecs {
  div {
    div {
      .detail {
        p {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
          text-transform: capitalize;
          margin-bottom: 0;
          margin-top: 5px;
        }
        span {
          font-size: 2rem;
          color: $darkgray;
          font-weight: normal;
          text-transform: capitalize;
        }
      }
    }
  }
}

#coassicurazionecs {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat:hover {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#attestatics {
  .row {
    div {
      .titlesection {
        color: $itas_red;
        text-transform: uppercase;
        font-size: 2.6rem;
        font-family: $font_mdCn;
      }
      .selectedrepeat[data-active$="false"] {
        cursor: pointer;
      }
      .selectedrepeat[data-active$="true"] {
        cursor: pointer;
      }
      .selectedrepeat[data-active$="false"]:hover {
        background-color: $azure;
      }
      .selectedrepeat[data-active$="true"] {
        background-color: $azure;
      }
    }
    .headerTable {
      div {
        .containerhead {
          position: relative;
          height: 50px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .containerheadbig {
          position: relative;
          height: 100px;
          background: $disabled;
          border-bottom: 2px solid $darkgray;
          .headgray {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
          .headgrayrelative {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
          }
          .headgraysmall {
            color: $silver;
            text-align: center;
            font-weight: normal;
            font-size: 2rem;
            font-family: $font_ltCn;
            margin: 0;
            width: 100%;
            transform: translate(0, 1.5rem);
            white-space: nowrap;
          }
          .subheadredsmall {
            margin: 0;
            color: $white;
            text-align: center;
            text-transform: capitalize;
            font-style: italic;
            font-size: 1.6rem;
            background: $itas_red;
            height: 50px;
            line-height: 3;
            position: relative;
            transform: translate(0, 26px);
          }
        }
        .containercopy {
          height: 70px;
          position: relative;
          border-right: 1px solid $darkgray;
          .copytable {
            word-wrap: break-word;
            line-height: 1;
            font-size: 1.6rem;
            font-family: $font_ltCn;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

#attestatocs {
  .titlesection[data-section$="true"] {
    color: $itas_red;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-family: $font_mdCn;
    padding: 0;
    /*padding: 10px;
    border-top: 1px solid $sand;
    border-left: 1px solid $sand;
    border-right: 1px solid $sand;*/
  }
  .titlesection[data-section$="false"] {
    color: $sand;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-family: $font_mdCn;
    padding: 0;
    cursor: pointer;
    /*padding: 10px;
    border-bottom: 1px solid $sand;*/
    &:hover {
      opacity: 0.7;
    }
  }
  .containerslectedattestato[data-visible$="true"] {
    display: inline;
  }
  .containerslectedattestato[data-visible$="false"] {
    display: none;
  }
  div {
    div {
      .detail {
        p {
          font-size: 2rem;
          color: $black;
          font-weight: normal;
          text-transform: capitalize;
          margin-bottom: 0;
          margin-top: 5px;
        }
        span {
          font-size: 2rem;
          color: $darkgray;
          font-weight: normal;
          text-transform: capitalize;
        }
      }
    }
  }
}