@charset "UTF-8";

#fe-cc-wrapper {

  @include itas-form();
  .input-group,
  .form-group {
    label.control-label {
    }
    .form-control {
      border-color: $itas_azure;
      color: $black;
      background: $white;
    }
  }

  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  /* height: 100%;  Valore dinamico js */

  #fe-cc-page-content-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 75%;
    height: 100%;
    float: left;
    border-right: 1px solid $color_celeste_approx;
    /*overflow-y: auto;*/
    overflow-y: hidden;

    .page-content {
      height: 100%;

      /* LAYOUT EMISSIONE START */

      #wr-cc {
        position: relative;
        /*overflow: hidden;*/
        width: 100%;
        height: 100%;

        #in-cc {
          width: 100%;
          height: 100%;

          .tt-cc {
            width: 100%;
            border-bottom: 1px solid $color_celeste_approx;
            .tt-cc-first {
              font-size: 2rem;
              color: $darkgray;
              padding: 5px 0;
              > div {
                > span {
                  font-family: $font_blkCn;
                }
              }
              .glyphicon {
                top: 3px;
              }
              .glyphicon-chevron-up {
                display: none;
              }
            }

            .tt-cc-collapse {
              .row {
                background: $whitesmoke;
                p {
                  font-family: $font_ltCnO;
                  font-size: 1.8rem;
                  color: $darkgray;
                  span {
                    font-family: $font_mdCnO;
                  }
                }
                &:first-of-type {
                  padding-top: 10px;
                  border-top: 1px solid $color_celeste_approx;
                }
              }
            }

            .clearfix:after {
              height: 100vh;
              /*background-color: rgba(255, 255, 255, 0.5);*/
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              width: 100%;
              cursor: not-allowed;
              opacity: 0.4;
              left: 0;
              right: 0;
              z-index: 2;
            }

          }

          .cc-cc {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            width: 100%;
            height: 100%;
            position: relative;
            min-height: 0;
            margin: 0;
            padding: 0;
            margin-bottom: -150px;
            padding-bottom: 150px;
            .sx-cc {
              float: left;
              width: 200px;
              height: 100%;
              background: $delfino;
              position: relative;
              overflow-y: auto;
            }

            .dx-cc {
              width: auto;
              height: 100%;
              position: relative;
              overflow-y: auto;
              overflow-x: hidden;
              .popover-dati-entita{
                position: absolute;
                top: 10px;
                right: 20px;
              }
            }

          }
          @media only screen and (max-width: 991px) {
            .cc-cc {
              margin-bottom: -275px;
              padding-bottom: 275px
            }
          }
          /*@media only screen and (max-width: 1199px) {
            .cc-cc {
              margin-bottom: -275px;
              padding-bottom: 275px
            }
          }*/
        }

      }

      /* LAYOUT EMISSIONE END */

    }

  }

  #fe-cc-sidebar-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    overflow-y: auto;
    float: right;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;

    .sidebar-content {
      height: 100%;
    }

  }

  #fe-cc-footer-wrapper {
    width: 100%;
    height: 100px;
    clear: both;
    background: $itas_red;
    color: $white;
    position: fixed;
    bottom: -50px;
    left: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    p.footer-txt{
      height: 100%;
      display: block;
      vertical-align: middle;
      margin: 0 auto;
      span{
        height: 50px;
        margin: 25px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .fe-totali-big{
      font-size: 5rem;
    }

    .fe-totali{
      font-size: 4rem;
    }

    .btn-procedi{
      text-transform: uppercase;
      height: 50px;
      margin: 25px;
      padding-right: 40px;
      padding-left: 40px;
      &:hover{
        color: $itas_red;
        background: $white;
      }
    }
/*
0004177: Footer a volte si blocca
 */
    &:hover {
      bottom: 0px;
    }
  }

  /* Collapsible sidebar */
  &.collapsed {
    #fe-cc-page-content-wrapper {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
    #fe-cc-sidebar-wrapper {
      margin-right: -25%;
    }
  }

}

i.pull-sidebar-arrow {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid $color_celeste_approx;
  color: $silver;
  background: $white;

  padding: 10px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  margin-right: -20px;
  z-index: 10;

  &.glyphicon-chevron-left {
    right: 0;
    position: fixed;
    top: 50%;
  }

  &.glyphicon-chevron-right {
    right: 25%;
    top: 50%;
    position: fixed;
  }

}

.fe-procedi {

}

/*GIACOMO*/
/*OLD
#procediContainer {
  color: $itas_red;
  border: 3px solid $itas_red;
}
*/
.fe-thumbnail.selected {
  width: 84%;
  margin: 0 8%;
}
/*
0004147: Accordion dati amministrativo contabili - Chiusura automatica
 */
#procediContainer {
  color: $itas_red;
  /*padding-bottom: 20px;*/
  padding-bottom: 50px;
  .title {
    text-align: center;
  }
  div {
    button {
      border: 3px solid $itas_red;
      padding: 15px 3.8rem 10px 2rem;
      text-transform: uppercase;
      background: $white;
      color: $itas_red;
      width: 100%;
      &:hover{
        background: $itas_red;
        color: $white;
      }
    }
  }
}

#rowIcon {
  position: absolute;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 2.5rem;
}

.fe-premio-garanzia {
  color: $color_conifer_approx;
  font-size: 2.5rem;
}

.fe-premio-misura {

}
#soluzioneRicaricata  {
  margin: 10px 0;
  div {
    .boxGreenConsultazione {
      background: $white;
      border: 2px solid $color_green_box_border;
      color: $color_green_box;
      font-size: 2rem;
      font-weight: normal;
      position: relative;
      height: 50px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      cursor: pointer;
      margin: 10px 0;
      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-indent: 15px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .boxGreenConsultazione[data-selected$="true"] {
      background: $color_green_box;
      border: 2px solid $color_green_box_border;
      color: $white;
      font-size: 2rem;
      font-weight: normal;
      position: relative;
      height: 50px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      cursor: pointer;
      margin: 10px 0;
      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-indent: 15px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .boxSoluzioneInLavorazione{
      background: $color_green_box;
      border: 2px solid $color_green_box_border;
      color: $white;
      font-size: 2rem;
      font-weight: normal;
      position: relative;
      height: 50px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      cursor: no-drop;
      margin: 10px 0;
      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-indent: 15px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .boxSoluzioneScelta{
      background: $white;
      border: 2px solid $color_green_box_border;
      color: $color_green_box;
      font-size: 2rem;
      font-weight: normal;
      position: relative;
      height: 50px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      cursor: pointer;
      margin: 10px 0;
      p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-indent: 15px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .buttonDeleteEntita{
      line-height: 20px;
      width: 30px;
      margin-right: 0;
      margin-top: -5px;
      position: absolute;
      top: 0px;
      right: 0;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      border: 0px solid;
      background: $lightgrey;
      text-indent: 0px;
      padding: 5px 0;
      height: 30px;
      outline: none;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -khtml-user-select: none; /* Konqueror */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.buttonAddEntita{
  width: 50px;
  margin-left: 5px;
  padding: 5px;
  border: 3px solid $delfino;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.buttonTutteEntita {
  background: $color_green_box;
  border: 2px solid $color_green_box_border;
  color: $white;
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  height: 50px;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 25px;
  padding: 10px;
  .boxNumeroEntita {
    border-radius: 50%;
    background: $white;
    width: 25px;
    color: $color_green_box;
    float: right;
    height: 25px;
    line-height: 25px;
    text-align: center;
  }
  &:hover {
    opacity: 0.7;
  }
}

/*
css ELEMENTI PER GESTIONE TAB TUTTE ENTITA CONTRATTO
*/
.boxEntitaVerde {
  border: 3px solid #6aa122!important;
}

.boxEntitaGialla {
  border: 3px solid #ffbe00!important;
}

.boxEntitaRossa {
  border: 3px solid $itas_red!important;
}

h3.tagEntita {
  font-family: HelveticaNeueLTPro-BlkCn;
  text-align: center;
}

.labelImportoSingolaEntita{
  margin-left: 10px;
}

.labelImportoSingolaEntitaInLavorazione{
  margin-left: 10px;
  color: $itas_red!important;
}

.labelGaranziaSingolaEntita{
  margin-left: 10px;
}

.boxGaranzieEntita {
  border: 2px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordionGaranzieTabTutte {
  color: $black!important;
  margin-left: 20px;
}

.elencoGarTabTutte{
  float: left;
}

.buttonDeleteEntita{
  line-height: 20px;
  width: 30px;
  margin-right: 0;
  margin-top: -5px;
  position: absolute;
  top: 0px;
  right: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  border: 0px solid;
  background: $lightgrey;
  text-indent: 0px;
  padding: 5px 0;
  height: 30px;
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

/*
  0004258: PER TE, clausole che graficamente si confondono con le garanzie
 */
/*ALTEZZA MINIMA PER GESTIRE SCROLL DEFINIZIONE ENTITA SU SCHERMI CON ZOOM*/
/*.minimalHeight[data-height$="false"] {*/
  .minimalHeight {
  min-height: 610px;
  /*min-height: 570px;*/
}
.minimalHeight[data-height$="true"] {
  min-height: 770px;
}
/*END ALTEZZA MINIMA PER GESTIRE SCROLL DEFINIZIONE ENTITA SU SCHERMI CON ZOOM*/

/*DIFFERENZA GARANZIA SELEZIONATA*/
.activeGaranzia[data-active$="true"] {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color_wild_sand_approx;
  border: 0px solid;
  border-radius: 20px;
  margin-bottom: 20px;
}
.activeGaranzia[data-active$="false"] {
  padding-left: 0px;
  padding-right: 0px;
  background-color: $white;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*END DIFFERENZA GARANZIA SELEZIONATA*/

.paddingForAttestato{
  padding-bottom: 60px!important;
}

.titleItasRedForm{
  font-weight: bold!important;
  color: $itas_red!important;
}

.container_duplica{
  background: #a0d056;
  border: 2px solid #6aa122;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  height: 50px;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 25px;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
 /* .btn_dubplica{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  } */
}
.container_duplica:hover{
  opacity: 0.7;
}
.container_listaGaranzie{
  margin: 25px;
  margin-left: 15px;
  position: relative;
}
.importaColor{
  color :white !important;
}

@import "_riepilogo_e_firma";