@charset "UTF-8";
/*
0004183: Riepilogo e firma - PROSPETTO ANNUALE DEI PAGAMENTI nascosto
 */
#fe-cc-wrapper {
  &.riepilogo-e-firma {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: auto!important;
    #fe-cc-page-content-wrapper {
      border: none;
      .page-content {
        #wr-cc {
          #in-cc {
            .tt-cc {
            }
            .cc-cc {
              height: 100%!important;
              .sx-cc {
                width: 200px;
                height: 100vh;
                background: #dad9cb;
                position: relative;
                overflow-y: auto;
                .btn {
                  font-size: 1.5rem;
                  text-transform: uppercase;
                }

                ul {
                  li{
                    p{
                      font-weight: bold;
                      a{
                        font-weight: normal;
                        text-decoration: none;
                        color: $black;
                        &:hover{
                          font-weight: bold;
                        }
                      }
                    }
                  }
                  >li>ul{ margin-bottom: 30px; }
                }

              }

              .dx-cc {
                .title-top {
                  h2 {
                    height: 50px;
                  }
                }

                .container-sx {
                  ul.riepilogo-premi-compact{
                    background: $whitesmoke;
                    margin-top: 20px;
                    padding: 15px;
                    border: 1px solid $grey;
                    > li{
                      > span{
                        font-weight: bold;
                        font-size: 1.8rem;
                      }
                      li {
                        margin-bottom: auto;
                        > span {
                          font-size: 1.6rem;
                          font-weight: normal;
                          display: inline-block;
                          margin: 0;
                          padding: 0;
                          &:last-of-type {
                            text-align: right;
                            float: right;
                          }
                        }
                        &:last-of-type{
                          text-align: right;
                          span{
                            color: $itas_red;
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                            font-weight: bold;
                            &.tot-big{
                              font-size: 2.2rem;
                              font-family: $font_blkCn;
                              margin-left: 15px;
                            }
                          }
                        }
                      }
                    }
                    hr{
                      border-color: $color_celeste_approx;
                    }
                  }
                }
                .container-dx {
                  background: $whitesmoke;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  /*GIACOMO*/
                  position: absolute;
                  right: 0;
                  top: 80px;
                  bottom: 0;
                  border-top: 1px solid $color_celeste_approx;
                  border-left: 1px solid $color_celeste_approx;
                  height: 100%;
                  /*END GIACOMO*/
                  ul{
                    margin-bottom: 0;
                    > li{
                      margin-bottom: 20px;
                      > span{
                        font-weight: bold;
                        font-size: 1.6rem;
                      }
                      li {
                        margin-bottom: auto;
                        > span {
                          font-size: 1.4rem;
                          font-weight: normal;
                          width: 49%;
                          display: inline-block;
                          margin: 0;
                          padding: 0;
                          &:last-of-type {
                            text-align: right;
                          }
                        }
                        &:last-of-type{
                          text-align: right;
                          span{
                            color: $itas_red;
                            font-size: 1.8rem;
                            font-weight: bold;
                            &.tot-big{
                              font-size: 2.2rem;
                            }
                          }
                        }
                      }
                      hr{
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-color: $color_celeste_approx;
                      }
                    }
                  }
                }

              }

            }
          }
        }
      }
    }

    .fe-cc-footer-riepilogo[data-value$="true"] {
     /* bottom: 0 */
      bottom: -50px !important;
    }

    .fe-cc-footer-riepilogo[data-value$="true"]:hover {
      /* bottom: 0 */
      bottom: 0px !important;
    }

    .fe-cc-footer-riepilogo[data-value$="false"] {
      bottom: 0px !important;
    }

    #fe-cc-footer-wrapper {
      display: block;
      position: fixed;
    /*  bottom: 0;*/
      z-index: 5;
      ul.navbar-footer{
        min-height: 100px;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
          display: inline-block;
          font-family: $font_bdCn;
          font-size: 2rem;
          text-transform: uppercase;
          width: auto;
          margin: 25px 20px;
          a{
            color: $white;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
            line-height: 2rem;
            border: 2px solid $white;
            &:hover{
              color: $itas_red;
            }
          }
        }
      }
    }

  }
}

/*GIACOMO*/
.relativeContainer {
  /*REAL HEIGHT
  height: 97.8px;*/
  height: 70px;
  font-size: 2rem;
  .absoluteContainer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    clear: both;
  }
  .txt-left{
    text-align: left;
    left: 15px;
    .redValue {
      color: $color_shiraz_approx;
      font-family: 'HelveticaNeueLTPro-BlkCn';
    }
  }
  .txt-right {
    text-align: right;
    right: 15px;
  }
}
.detailValueTable {
  font-size: 2rem;
  font-weight: bold;
}
.grayTableContainer {
  position: relative!important;
  padding: 0!important;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  .aloneTableValue {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    word-wrap: break-word;
    line-height: 1;
  }
  .multipleTableValue {
    padding: 5px;
  }
  .redTableVoice {
    margin: 0;
    padding: 5px 10px;
    background: #a90433;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
  }
  ul {
    li {
      text-align: center !important;
    }
  }
}
.containerIconVisible[data-iconvisible$="true"]{
  .iconNotEditable {
    display: none;
  }
}
.containerIconVisible[data-iconvisible$="false"]{
  .iconEditable {
    display: none;
  }
}
.autorizzazioneContainer[data-autorizzazione$="true"]{
  .true {
    text-transform: capitalize;
  }
  .false {
    display: none;
  }
}
.autorizzazioneContainer[data-autorizzazione$="false"]{
  .true {
    display: none;
  }
  .false {
    text-transform: capitalize;
  }
}
/*GIACOMO*/

.popover-coass-input {
    border: solid 2px #81cbd6;
    text-align: center;
    font-size: medium;
}