<section class="row header">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<img class="logo" src="images/logo-msa.jpg" alt="" ng-click="$ctrl.reloadRoute()">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
			<h4 class="title">{{'global.header.labels.title' | translate}}</h4>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
			<h4 class="user">
				<i class="fa fa-user usericon" aria-hidden="true"></i> Mario Rossi | <i class="fa fa-bars menu" aria-hidden="true"></i>
			</h4>
		</div>
	</div>
</section>