@charset "UTF-8";

//colors
$white: #fff;
$black: #000;
$lightgrey: #eee;
$grey: #ccc;
$delfino: #dad9cb;
$darkgray: #aaa;
$silver: #757575;
$azure: #ecf7f9;
$required: #edf8f9;
$disabled: #f5f5f5;
$disabledDark: #e5e5e4;
$whitesmoke: #f4f4f4;
$itas_azure: #81cbd6;
$itas_azure_light: #8bd3db;
$itas_red: #a90433;
$petroleum: #085259;
$sand: #c0bfba;
$danger: #f2dede;
$error_level_0: #d2322d;
$error_level_1: #337ab7;
$error_level_2: #ffbe00;
$info: #29d;


$color_half_baked_approx: #81cbd6;
$color_shiraz_approx: #a90433;
$color_celeste_approx: #d0d1d1;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$color_silver_approx: #bfbfbf;
$mercury: #e5e5e5;
$color_amber_approx: #ffbe00;
$color_conifer_approx: #a4d04d;
$color_pomegranate_approx: #f34912;
$white_100: rgba(255, 255, 255, 1);
$color_kangaroo_approx: #c9c8ba;
$color_mercury_approx: #e6e6e6;
$color_pastel_green_approx: #7ad96f;
$color_fruit_salad_approx: #5caf53;
$color_iron_approx: #d6d7d7;
$color_corn_approx: #f1c40f;
$color_carrot_orange_approx: rgba(231, 141, 42, 1);
$color_moon_mist_approx: #dad9c9;
$color_cararra_approx: #edece4;
$color_black_haze_approx: #f6f6f6;
$color_apple_blossom_approx: #a94442;
$color_lotus_approx: #843534;
$color_wild_sand_approx: #f5f5f5;
$color_pink_swan_approx: #b8b8b8;
$color_sushi_approx: #89b236;
$color_foggy_gray_approx: #c9c8b9;
$color_green_box: #a0d056;
$color_green_box_border: #6aa122;


.fe-color-seme-cotone {
  color: $sand;
}