@charset "UTF-8";

html, body {
	background-color: $light_gray;
    overflow-x: hidden;
    height: 100%;
    font-family: $font_montregular;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

section {
	padding-left: 30px;
	padding-right: 30px;
}

.boxShadow {
	box-shadow: 2px 2px 15px $gray;
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}


.noPadding {
	padding: 0;
}
.noPaddingLeft {
	padding-left: 0;
}
.noPaddingRight {
	padding-right: 0;
}

.classicInputText {
	margin-top: 15px;
	margin-bottom: 15px;
	input[type="text"], select {
		width: 100%;
		border: 0px solid;
		height: 40px;
		border-radius: 5px;
		background: $light_gray;
		padding: 5px 10px;
	}
    input[type="text"]:disabled, select:disabled {
      opacity: 0.25;
    }
	input:focus {
		outline: none;
		border: 2px solid $light_blue;
		box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
		border-radius: 5px;
	}
	.targa {
		text-transform: uppercase;
	}
	label {
		font-weight: normal;
		font-size: 1.5rem;
		margin-top: 5px;
		width: 100%;
		white-space: nowrap;
	}
	label.alert {
		font-size: 1.2rem;
		margin: 0;
		padding: 0;
		position: absolute;
	    margin-top: 2px;
	}
	label.alert.campoobbligatorio {
		color: $light_blue;
	}
    span {
      .btn {
        font-size: 2rem;
        border: none;
        background: $light_gray;
        color: $gray;
      }
      .btn:active, btn:focus {
        color: $light_blue;
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  .input-group {
    margin: 0;
  }
}

.classicInputRadio {
	margin-top: 15px;
	margin-bottom: 15px;
	div{
		height: 40px;
		input {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			margin: 0;
			z-index: 1;
			cursor: pointer;
		}
		input[type='radio']:after {
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			top: -4px;
			left: -4px;
			position: relative;
			background-color: $light_gray;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 2px solid $light_gray;
			-moz-box-sizing: border-box;
    		-webkit-box-sizing: border-box;
		}
		input[type='radio']:checked:after {
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			top: -4px;
			left: -4px;
			position: relative;
			background-color: $light_blue;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 4px solid $light_gray;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		.rightLabel {
			top: 50%;
			transform: translate(0, -50%);
			position: absolute;
			text-indent: 20px;
			margin-top: 0;
		}
	}
	label {
		font-weight: normal;
		font-size: 1.5rem;
		margin-top: 5px;
		width: 100%;
	}
	label.alert {
		font-size: 1.2rem;
		margin: 0;
		padding: 0;
		position: absolute;
		margin-top: 2px;
		display: block;
    	top: 70px;
	}
	label.alert.campoobbligatorio {
		color: $light_blue;
	}
    li {
      display: inline;
    }
}
.classicInputTextList {
	margin-top: 15px;
	margin-bottom: 15px;
	.containerArrow {
		position: relative;
		height: 40px;
		background: $light_gray;
		border-radius: 5px;
		i {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			padding: 10px;
			text-align: right;
			cursor: pointer;
			right: 0;
			z-index: 1;
		}
		input[type="text"] {
			width: 100%;
			border: 0px solid;
			height: 40px;
			background: transparent;
			padding: 10px;
		    padding-right: 40px;
		    position: absolute;
		    z-index: 2;
		}
		input:focus {
			outline: none;
			border: 2px solid $light_blue;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border-radius: 5px;
		}
	}
	label {
		font-weight: normal;
		font-size: 1.5rem;
		margin-top: 5px;
		width: 100%;
	}
	label.alert {
		font-size: 1.2rem;
		margin: 0;
		padding: 0;
		position: absolute;
		margin-top: 2px;
	}
	label.alert.campoobbligatorio {
		color: $light_blue;
	}
	ul {
		list-style: none;
		margin: 0;
		position: absolute;
		background: $white;
		top: 100%;
		left: 15px;
		right: 15px;
		max-height: 130px;
		font-size: 1.7rem;
		box-shadow: 2px 5px 15px $gray;
		padding: 0 10px;
		border-radius: 0px 0px 5px 5px;
		overflow-y: auto;
		overflow-x: hidden;
	    z-index: 3;
		li {
			cursor: pointer;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		li:hover {
			opacity: 0.7;
		}
	}
}

.classicButton {
	margin-top: 30px;
	margin-bottom: 30px;
	button.blueDarkButton {
		border: none;
		background: transparent;
		padding: 0;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		outline: none;
		a {
			color: $white;
			background: $blue;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 5px;
			text-decoration: none;
			cursor: pointer;
			font-size: 1.8rem;
		}
		a:hover {
			opacity: 0.7;
		}
	}
	button[disabled].blueDarkButton {
		border: none;
		background: transparent;
		padding: 0;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		a {
			color: $white;
			background: $gray;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 5px;
			text-decoration: none;
			cursor: not-allowed;
			font-size: 1.8rem;
			opacity: 0.7;
		}
	}
	button.blueButton {
		border: none;
		background: transparent;
		padding: 0;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		outline: none;
		a {
			color: $white;
			background: $light_blue;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 5px;
			text-decoration: none;
			cursor: pointer;
			font-size: 1.8rem;
		}
		a:hover {
			opacity: 0.7;
		}
	}
	button[disabled].blueButton {
		border: none;
		background: transparent;
		padding: 0;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		a {
			color: $white;
			background: $gray;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 5px;
			text-decoration: none;
			cursor: not-allowed;
			font-size: 1.8rem;
			opacity: 0.7;
		}
	}
}

.blueLine {
  border-top: 1px solid $light_blue;
}

.subsectionTitle {
  color: $light_blue;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.subsectionHint {
  color: $blue;
  font-size: 1.5rem;
  /*font-style: italic;*/
  font-family: $font_montlightita;
}

.msaModal {
  .modal-content {
    border-radius: 0;
    .modal-header {
      /* IE10 */
      background-image: -ms-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Opera */
      background-image: -o-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Webkit (Safari/Chrome 10) */
      background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, $light_blue), color-stop(1, $blue));
      /* Webkit (Chrome 11+) */
      background-image: -webkit-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Regola standard */
      background-image: linear-gradient(to top right, $light_blue 0%, $blue 100%);
      color: $white;
      text-align: center;
      height: 60px;
      position: relative;
      h1 {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        left: 0;
        right: 0;
        font-size: 2.5rem;
      }
    }
    .modal-body, .modal-footer {
      display: inline-block;
      width: 100%;
      color: $gray;
      border-top: none;
    }
  }
  button {
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;
  }
  button:hover {
    opacity: 0.7;
    color: $white;
  }
  button.blueButton {
    background: $light_blue;
  }
  button.grayButton {
    background: $gray;
  }
}