@charset "UTF-8";

html, body {
  background-color: $light_gray;
  overflow-x: hidden;
  height: 100%;
  font-family: $font_montregular;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

*:focus, *:active:focus, *.active:focus,
*.focus, *:active.focus, *.active.focus {
  outline: none;
}

.lightblue {
  color: $light_blue;
}

section {
  padding-left: 30px;
  padding-right: 30px;
}

.backgroundHint {
  text-align: center;
  color: $gray;
  font-family: $font_montlight;
}

.boxShadow {
  box-shadow: 2px 2px 15px $gray;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.noMargin {
  margin: 0 !important;
}

.noPadding {
  padding: 0 !important;
}

.noPaddingLeft {
  padding-left: 0;
}

.noPaddingRight {
  padding-right: 0;
}

.sticky {
  position: sticky;
  top: 0;
}

.force-text-left {
  text-align: left !important;
}

.text-info {
  color: $light_blue !important;
}

.full-width {
  width: 100%;
}

.classicInputText {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2rem;
  input[type="text"], input[type="number"], select {
    width: 100%;
    border: 0px solid;
    height: 40px;
    border-radius: 5px;
    background: $light_gray;
    padding: 5px 10px;
  }
  input[type="text"]:disabled, input[type="number"]:disabled, select:disabled {
    opacity: 0.25;
  }
  input:focus {
    outline: none;
    border: 2px solid $light_blue;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
  }
  .targa {
    text-transform: uppercase;
  }
  label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
  }
  label.alert {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 2px;
  }
  label.alert.campoobbligatorio {
    color: $light_blue;
  }
  span {
    .btn {
      font-size: 2rem;
      border: none;
      background: $light_gray;
      color: $gray;
    }
    .btn:active, btn:focus {
      color: $light_blue;
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  .input-group {
    margin: 0;
  }
}

.classicInputText.has-error {
  input:focus {
    outline: none;
    border: 2px solid $badred;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
  }
}

.classicTextArea {
  textarea {
    width: 100%;
    height: 180px;
    background: $light_gray;
    border: 0px solid;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 1.5rem;
  }
  label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
  }
}

.classicInputTextDisabled {
  input[type="text"] {
    width: 100%;
    color: black;
    border-width: 0px;
    align: left;
    border-bottom-width: 1px;
    background: transparent;
    border-radius: 0;
    border-color: $light_gray;
    padding-top: 10px;
  }
  input[type="text"].uppercase {
    text-transform: uppercase;
  }
  label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
  }
}

.classicInputRadio {
  margin-top: 15px;
  margin-bottom: 15px;
  div {
    height: 40px;
    input {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0;
      z-index: 1;
      cursor: pointer;
    }
    input[type='radio']:after {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: -4px;
      left: -4px;
      position: relative;
      background-color: $light_gray;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid $light_gray;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    input[type='radio']:checked:after {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: -4px;
      left: -4px;
      position: relative;
      background-color: $light_blue;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 4px solid $light_gray;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
    .rightLabel {
      top: 50%;
      transform: translate(0, -50%);
      position: absolute;
      text-indent: 20px;
      margin-top: 0;
    }
  }
  label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
  }
  label.alert {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 2px;
    display: block;
    top: 70px;
  }
  label.alert.campoobbligatorio {
    color: $light_blue;
  }
  li {
    display: inline;
  }
}

.bold {
  font-weight: bold;
}

.classicInputTextList {
  margin-top: 15px;
  margin-bottom: 15px;
  .containerArrow {
    position: relative;
    height: 40px;
    background: $light_gray;
    border-radius: 5px;
    i {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      padding: 10px;
      text-align: right;
      cursor: pointer;
      right: 0;
      z-index: 1;
    }
    input[type="text"] {
      width: 100%;
      border: 0px solid;
      height: 40px;
      background: transparent;
      padding: 10px;
      padding-right: 40px;
      position: absolute;
      z-index: 2;
    }
    input:focus {
      outline: none;
      border: 2px solid $light_blue;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 5px;
    }
  }
  label {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5px;
    width: 100%;
  }
  label.alert {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 2px;
  }
  label.alert.campoobbligatorio {
    color: $light_blue;
  }
  ul {
    list-style: none;
    margin: 0;
    position: absolute;
    background: $white;
    top: 100%;
    left: 15px;
    right: 15px;
    max-height: 130px;
    font-size: 1.7rem;
    box-shadow: 2px 5px 15px $gray;
    padding: 0 10px;
    border-radius: 0px 0px 5px 5px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    li {
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    li:hover {
      opacity: 0.7;
    }
  }
}

table.dettagliopolizzatable {
  border-collapse: collapse;
  border-color: white;
  border-bottom: 3px solid white;

  border-top: none;

  tbody {

    background-color: $light_gray;
    color: black;

    p.capitalized {
      text-transform: capitalize;
    }

  }
  th {
    border-color: white;
    font-weight: normal;

    border-bottom: 3px solid white;
    background-color: white;
    text-transform: uppercase;
    color: $light_blue;
  }
  td {
    border-color: white;
    font-weight: normal;

    border-bottom: 3px solid white;

  }

  tr.header {
    background-color: white;
    text-transform: uppercase;
    color: $light_blue;
  }

}

.classicButton {
  margin-top: 50px;
  margin-bottom: 30px;
  button.blueDarkButton {
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    outline: none;
    a {
      color: $white;
      background: $blue;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.8rem;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  button[disabled].blueDarkButton {
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    a {
      color: $white;
      background: $gray;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: not-allowed;
      font-size: 1.8rem;
      opacity: 0.7;
    }
  }
  button.blueButton {
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    outline: none;
    a {
      color: $white;
      background: $light_blue;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.8rem;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  button[disabled].blueButton {
    border: none;
    background: transparent;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    a {
      color: $white;
      background: $gray;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: not-allowed;
      font-size: 1.8rem;
      opacity: 0.7;
    }
  }
}

.blueLine {
  border-top: 1px solid $light_blue;
}

.subsectionTitle {
  color: $light_blue;
  text-transform: uppercase;
  font-size: 1.5rem;

}

.subsectionHint {
  color: $blue;
  font-size: 1.5rem;
  /*font-style: italic;*/
  font-family: $font_montlightita;
}

.msaModal {
  font-size: 2rem;
  .modal-content {
    border-radius: 0;
    .modal-header {
      /* IE10 */
      background-image: -ms-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Mozilla Firefox */
      background-image: -moz-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Opera */
      background-image: -o-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Webkit (Safari/Chrome 10) */
      background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, $light_blue), color-stop(1, $blue));
      /* Webkit (Chrome 11+) */
      background-image: -webkit-linear-gradient(top right, $light_blue 0%, $blue 100%);
      /* Regola standard */
      background-image: linear-gradient(to top right, $light_blue 0%, $blue 100%);
      color: $white;
      text-align: center;
      height: 60px;
      position: relative;
      h1 {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        left: 0;
        right: 0;
        font-size: 2.5rem;
      }
    }
    .modal-body, .modal-footer {
      display: inline-block;
      width: 100%;
      color: $gray;
      border-top: none;
    }
  }

  .btn:not(.btn-special, .btn-sm) {
    height: 4rem;
    line-height: 1;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;
    outline: none;
  }
  .btn:hover {
    opacity: 0.7;
  }

  .btn.blueButton {
    background: $light_blue;
    color: white;
  }
  .btn.grayButton {
    background: $gray;
    color: white;
  }
  .btn.lightGrayButton {
    background: $light_gray;
    color: $gray;
    line-height: 1;
  }
}

.lightGrayButton {
  background: $light_gray;
  color: $gray;
  height: 4rem;
  line-height: 1;
}

/* Generic Buttons */

button.formButton {
  height: 4rem;
  width: 100%;
}

/* Date Picker */
.uib-datepicker {
  button {
    border: 0;
    box-shadow: none !important;
  }
  button[disabled] {
    opacity: 0.1;
  }
  button.btn-info.active, button.btn-info {
    background: $light_blue !important;
    box-shadow: none;
    span {
      color: $white !important;
    }
  }
}

.msaModule {
  .containerHeader {
    clear: both;
    width: 100%;
    margin-top: 30px;
    .container {
      .header {
        /* IE10 */
        background-image: -ms-linear-gradient(top right, $light_blue 0%, $blue 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top right, $light_blue 0%, $blue 100%);
        /* Opera */
        background-image: -o-linear-gradient(top right, $light_blue 0%, $blue 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, $light_blue), color-stop(1, $blue));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top right, $light_blue 0%, $blue 100%);
        /* Regola standard */
        background-image: linear-gradient(to top right, $light_blue 0%, $blue 100%);
        color: $white;
        text-align: center;
        height: 60px;
        position: relative;
        .titleSection {
          position: absolute;
          width: 100%;
          margin: 0;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 1;
          left: 0;
          right: 0;
          font-size: 2.5rem;
        }
      }
      .body {
        background-color: $white;
        color: $gray;
        font-size: 2rem;
      }
    }
  }
  .containerBody {
    clear: both;
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
    .container {
      .body {
        background-color: $white;
        color: $gray;
        font-size: 2rem;
        height: 100%;
        display: flow-root;
        width: 100%;
        .row {
          margin: 0 !important;
        }
      }
    }
  }
}

.classicInputCheckBox {

  input[type="checkbox"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 1.5rem;
      font-weight: normal;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: $light_gray;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

    }

    // Hoverato
    &:hover + label:before {
      background: #9d9d9d;
    }

    // Focussato
    &:focus + label:before {
      box-shadow: 0 0 0 2px $light_blue;
    }

    // Checcato
    &:checked + label:before {
      background: $light_gray;
    }

    // Disabilitato.
    &:disabled + label {
      color: $gray;
      cursor: auto;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Spunta.
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $light_blue;
      width: 3px;
      height: 3px;
      box-shadow: 2px 0 0 $light_blue,
      4px 0 0 $light_blue,
      4px -2px 0 $light_blue,
      4px -4px 0 $light_blue,
      4px -6px 0 $light_blue,
      4px -8px 0 $light_blue;
      transform: rotate(45deg);
    }
  }
}

.msa-table {

  margin-top: 15px;

  th {
    text-align: center;
    font-size: 1.25rem;
    color: $light_blue;
  }

  td {
    text-align: center;
    font-size: 1.25rem;
    color: $black;
    vertical-align: middle !important;
    padding: 1.5rem 0!important;
  }

  td.has-error {
    color: $badred;
  }

  .fa-trash-o {
    color: $badred;
    font-size: 2rem;
  }

  .fa-plus, .fa-cloud-download {
    color: $light_blue;
    font-size: 2rem;
  }

}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

/*Obbligatorio per Google Maps*/
.angular-google-map-container {
  height: 40rem;
}

.drop-box {
  &.dragover {
    border-color: $light_blue;
    p {
      color: $light_blue;
    }
  }
  &.dragend {
    border-color: $happygreen;
    p {
      color: $happygreen;
    }
  }
  &.upload-error {
    border-color: $badred;
    p {
      color: $badred;
    }
  }
  width: 100%;
  height: 18rem;
  border: 2px dashed $gray;
  border-radius: 5px;
  p {
    margin-top: 4rem;
    text-align: center;
  }
  span {
    font-size: 0.75em;
  }

}

/* TODO: spostare */
ul.carrozzerie {
  height: 40rem;
  list-style: none;
  overflow-y: scroll;
  padding-top: 2rem;

  li {
    font-size: 1.5rem;
    cursor: pointer;
    i {
      color: white;
      background: $light_blue;
      border-radius: 50%;
      padding: 5px;
    }
    i.error {
      background: $badred;
    }

    .name {
      color: $black;

    }

  }

}