@charset "UTF-8";

//fonts (ATTENZIONE: i seguenti FONT name devono corrispondere esattamente ai FILE name nella cartella fonts )
$font_montblack: Montserrat-Black;
$font_montitablack: Montserrat-BlackItalic;
$font_montbold: Montserrat-Bold;
$font_montboldita: Montserrat-BoldItalic;
$font_montextrabold: Montserrat-ExtraBold;
$font_montextraboldita: Montserrat-ExtraBoldItalic;
$font_montextralight: Montserrat-ExtraLight;
$font_montita: Montserrat-Italic;
$font_montlight: Montserrat-Light;
$font_montlightita: Montserrat-LightItalic;
$font_montmedium: Montserrat-Medium;
$font_montmediumita: Montserrat-MediumItalic;
$font_montregular: Montserrat-Regular;
$font_montsemibold: Montserrat-SemiBold;
$font_montsemiboldita: Montserrat-SemiBoldItalic;
$font_montthin: Montserrat-Thin;
$font_monthinita: Montserrat-ThinItalic;

$font_awe: FontAwesome;

$font_sans: sans-serif;

@font-face {
  font-family: $font_montblack;
  src:  url(#{'../fonts/' + $font_montblack + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montblack + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montitablack;
  src:  url(#{'../fonts/' + $font_montitablack + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montitablack + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montbold;
  src:  url(#{'../fonts/' + $font_montbold + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montbold + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montboldita;
  src:  url(#{'../fonts/' + $font_montboldita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montboldita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montextrabold;
  src:  url(#{'../fonts/' + $font_montextrabold + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montextrabold + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montextraboldita;
  src:  url(#{'../fonts/' + $font_montextraboldita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montextraboldita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montextralight;
  src:  url(#{'../fonts/' + $font_montextralight + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montextralight + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montita;
  src:  url(#{'../fonts/' + $font_montita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montlight;
  src:  url(#{'../fonts/' + $font_montlight + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montlight + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montlightita;
  src:  url(#{'../fonts/' + $font_montlightita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montlightita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montmedium;
  src:  url(#{'../fonts/' + $font_montmedium + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montmedium + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montmediumita;
  src:  url(#{'../fonts/' + $font_montmediumita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montmediumita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montregular;
  src:  url(#{'../fonts/' + $font_montregular + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montregular + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montsemibold;
  src:  url(#{'../fonts/' + $font_montsemibold + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montsemibold + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montsemiboldita;
  src:  url(#{'../fonts/' + $font_montsemiboldita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montsemiboldita + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_montthin;
  src:  url(#{'../fonts/' + $font_montthin + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_montthin + '.otf'})                 format('opentype')
}
@font-face {
  font-family: $font_monthinita;
  src:  url(#{'../fonts/' + $font_monthinita + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_monthinita + '.otf'})                 format('opentype')
}

@font-face {
  font-family: $font_awe;
  src:  url(#{'../fonts/' + $font_awe + '?#iefix'})        format('embedded-opentype'),
  url(#{'../fonts/' + $font_awe + '.otf'})                 format('opentype')
}
