@charset "UTF-8";

ul.timeline-widget {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  li {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    background: $white;
    margin: 4rem 1rem;
    display: inline-block;
    color: $grey;
    border: 3px solid $grey;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 1.8rem;
      left: -4rem;
      width: 4rem;
      height: .2rem;
      background: $grey;
      z-index: -1;
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &.active {
      background: $itas_red;
      color: $white;
      border-color: $itas_red;
      &::after{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        content: '';
        position: absolute;
        top: -1rem;
        left: .7rem;
        width: 2rem;
        height: .2rem;
        background: $grey;
        z-index: -1;
      }
      //&~li {
      //  background: $itas_red;
      //  &::before {
      //    background: $itas_red;
      //  }
      //}
      &:hover{
        cursor: pointer;
      }
    }

    span{
      &.month{
        font-family: $font_bdCn;
      }
      &.amount{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -4rem;
        color: $black;
        width: auto;
        padding: 0 .5rem;
        border: 2px solid $grey;
        height: 2.5rem;
        line-height: 2.5rem;
        background: $white;
      }
      &.product-desc{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 4.5rem;
        color: $itas_azure;
        width: auto;
        padding: 0 .5rem;
        background: $white;
        border: solid 2px $itas_azure;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-family: $font_ltCn;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1;
        &::after{
          content: " ";
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid $itas_azure;
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &:hover{
      .product-desc{
        opacity: 1;
        visibility: visible;
      }
    }

  }

}