@charset "UTF-8";

$root-font-size: 10px;
$h2-font-size: 3.6rem;
$h3-font-size: 2.6rem;
$h4-font-size: 2rem;

$ul-li-font-size: 1.6rem;

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
}

h2 {
  font-size: $h2-font-size;
  color: $sand;
}

h3 {
  font-size: $h3-font-size;
  font-family: $font_mdCn;
}

h4 {
  font-size: $h4-font-size;
  font-family: $font_ltCn;
  strong {
    font-family: $font_mdCn;
  }
}

ul {
  font-size: $ul-li-font-size;
  list-style: outside none none;
  padding-left: 0;

  &.list-free {
    > li:before {
      content: none;
    }
    ul > li:before {
      content: none;
    }
  }
  &.list-float {
    overflow: hidden;
    > li {
      float: left;
    }
  }

  li:before {
    font-family: $font_awe;
    color: $black;
  }

  li {
    text-align: left;
  }
}