<div class="modal-header">
    <h1>Denuncia Sinistro</h1> <!-- TODO: Stringhe scolpite in tutti i modal -->
</div>

<div class="modal-body ">

    <div class="col-lg-12 noPadding">
        <div ngf-drop ngf-select
             ng-model="$ctrl.file"
             class="drop-box"
             ng-class="{'dragover': $ctrl.file.name && !$ctrl.error, 'upload-error': $ctrl.file.name && $ctrl.error, 'dragend': $ctrl.file.name && $ctrl.success}"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             ngf-validate="{size: {min: 0, max: '10MB'}}">

            <p ng-if="$ctrl.file.name && !$ctrl.error && !$ctrl.inProgress && !$ctrl.success">
                <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}} - Pronto <!-- TODO stringhe scolpite-->
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.error && !$ctrl.inProgress">
                <i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}} - Errore
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.inProgress">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <br>{{$ctrl.file.name}} - In Corso
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.success">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}} - Completato
            </p>
            <p ng-if="!$ctrl.file.name">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                <br>{{'global.generic.upload' | translate}}
                <br><span>Max 10MB</span>
            </p>
        </div>
            <!--TODO: avvisare che max 10MB-->
    </div>
</div>

<div class="modal-footer">
    <div class="col-lg-12">
        <button class="btn grayButton" type="button" ng-click="$ctrl.cancel()" ng-disabled="!$ctrl.buttonsEnabled">Cancel</button>
        <button class="btn blueButton" type="button" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.buttonsEnabled">Upload</button>
    </div>
</div>