<div class="modal-header">
    <h1>{{'global.documenti.labels.upload' | translate}}</h1>
</div>

<div class="modal-body ">

    <div class="col-lg-12 noPadding">
        <div ngf-drop ngf-select
             ng-model="$ctrl.file"
             class="drop-box"
             ng-class="{'dragover': $ctrl.file.name && !$ctrl.error, 'upload-error': $ctrl.file.name && $ctrl.error, 'dragend': $ctrl.file.name && $ctrl.success}"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             ngf-validate="{size: {min: 0, max: '10MB'}}">

            <p ng-if="$ctrl.file.name && !$ctrl.error && !$ctrl.inProgress && !$ctrl.success">
                <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}}
                <br><span>{{'global.generic.pronto' | translate}}</span>
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.error && !$ctrl.inProgress">
                <i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}}
                <br><span>{{'global.generic.errore' | translate}}</span>
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.inProgress">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <br>{{$ctrl.file.name}}
                <br><span>{{'global.generic.incorso' | translate}}</span>
            </p>
            <p ng-if="$ctrl.file.name && $ctrl.success">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                <br>{{$ctrl.file.name}}
                <br><span>{{'global.generic.completato' | translate}}</span>
            </p>
            <p ng-if="!$ctrl.file.name">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                <br>{{'global.generic.upload' | translate}}
                <br><span>Max 10MB</span>
            </p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="col-lg-12 noPadding">
        <button class="btn grayButton" type="button" ng-click="$ctrl.cancel()" ng-disabled="!$ctrl.buttonsEnabled">Cancel</button>
        <button class="btn blueButton" type="button" ng-click="$ctrl.upload()" ng-disabled="!$ctrl.buttonsEnabled || !$ctrl.isFile">Upload</button>
    </div>
</div>