
<msa-header></msa-header>
<ng-view></ng-view>

<!-- TODO CLEAN -->
<!--<msa-home></msa-home>-->
<!--<msa-denuncia-container></msa-denuncia-container>-->
<!--<msa-denuncia-container numero-sinistro-provvisorio="$ctrl.numSinistroProvv" ng-if="$ctrl.bannerSearch == false && $ctrl.bannerDenuncia == true"></msa-denuncia-container>-->


<!--POSIZIONE PROVVISORIA-->
<hr class="blueLine">
<h1 class="text-center">Mock Area</h1>
<msa-auto class="msaModule"></msa-auto>
<msa-constatazione-amichevole class="msaModule"></msa-constatazione-amichevole>
<msa-danno-rca class="msaModule"></msa-danno-rca>
<!--END POSIZIONE PROVVISORIA-->
