<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 auto">
    <div class="autoContainer">
        <!--TOP-->
        <div class="arrow topLeft" ng-click="$ctrl.indicatoretopleft($ctrl.auto.topleft)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.topleft == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.topleft == true">
        </div>
        <div class="arrow topCenter" ng-click="$ctrl.indicatoretopcenter($ctrl.auto.topcenter)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.topcenter == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.topcenter == true">
        </div>
        <div class="arrow topRight" ng-click="$ctrl.indicatoretopright($ctrl.auto.topright)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.topright == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.topright == true">
        </div>
        <!--END TOP-->
        <!--MIDDLE-->
        <div class="arrow middleLeft" ng-click="$ctrl.indicatoremiddleleft($ctrl.auto.middleleft)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.middleleft == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.middleleft == true">
        </div>
        <div class="arrow middleRight" ng-click="$ctrl.indicatoremiddleright($ctrl.auto.middleright)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.middleright == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.middleright == true">
        </div>
        <!--END MIDDLE-->
        <!--BOTTOM-->
        <div class="arrow bottomLeft" ng-click="$ctrl.indicatorebottomleft($ctrl.auto.bottomleft)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.bottomleft == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.bottomleft == true">
        </div>
        <div class="arrow bottomCenter" ng-click="$ctrl.indicatorebottomcenter($ctrl.auto.bottomcenter)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.bottomcenter == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.bottomcenter == true">
        </div>
        <div class="arrow bottomRight" ng-click="$ctrl.indicatorebottomright($ctrl.auto.bottomright)">
            <img src="images/auto/arrow-gray.svg" ng-show="$ctrl.auto.bottomright == false">
            <img src="images/auto/arrow-blue.svg" ng-show="$ctrl.auto.bottomright == true">
        </div>
        <!--END BOTTOM-->
    </div>
</div>


