
<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header" ng-class="{'is-ok': dannoRcaForm.$pristine && dannoRcaForm.$valid, 'has-error': !dannoRcaForm.$pristine || !dannoRcaForm.$valid}">
            <h1 class="titleSection">{{'global.dannorca.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <div class="col-lg-12">

                <form name="dannoRcaForm" novalidate>

                    <pre ng-if="$debugMode">{{$ctrl.dannoRca}}</pre>
                    <!--<pre ng-if="$debugMode">{{dannoRcaForm | json}}</pre>-->

                    <div class="row">
                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.conducente' | translate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputRadio">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="true" name="lesioniConducente"
                                       ng-model="$ctrl.dannoRca.lesioniConducente" ng-required="true">
                                <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingRight">
                                <input type="radio" ng-value="false" name="lesioniConducente"
                                       ng-model="$ctrl.dannoRca.lesioniConducente" ng-required="true">
                                <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                            <label>{{'global.dannorca.labels.lesioniconducente' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 classicInputRadio">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="true" name="conducenteIsNotContraente"
                                       ng-model="$ctrl.dannoRca.conducenteIsNotContraente" ng-required="true">
                                <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft" ng-required="true">
                                <input type="radio" ng-value="false" name="conducenteIsNotContraente"
                                       ng-model="$ctrl.dannoRca.conducenteIsNotContraente">
                                <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                            <label>{{'global.dannorca.labels.contraenteconducente' | translate}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <msa-anagrafica-conducente ng-if="$ctrl.dannoRca.conducenteIsNotContraente"
                            input="$ctrl.dannoRca.conducente"
                            result="$ctrl.dannoRca.conducente">
                        </msa-anagrafica-conducente>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="blueLine"/>
                        </div>
                    </div>

                    <!-- SEZIONE AUTO -->
                    <div class="row">

                        <div class="col-sm-12 col-xs-12 classicTextArea"
                             ng-class="{'col-lg-6 col-md-6': $ctrl.tempSegnalazione.nveicoli > 1, 'col-lg-12 col-md-12': $ctrl.tempSegnalazione.nveicoli <= 1}">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dannicliente' | translate}}</span>
                            <msa-auto data-auto="$ctrl.dannoRca.dannoCliente" data-input="$ctrl.persistence.dannoCliente"></msa-auto>
                            <textarea class="textauto" ng-model="$ctrl.dannoRca.descrizioneDannoCliente"></textarea>
                            <label>{{'global.dannorca.labels.descrizionedanno' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea"
                             ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dannicontroparte' | translate}}</span>
                            <msa-auto data-auto="$ctrl.dannoRca.dannoControparte" data-input="$ctrl.persistence.dannoControparte"></msa-auto>
                            <textarea class="textauto" ng-model="$ctrl.dannoRca.descrizioneDannoControparte"></textarea>
                            <label>{{'global.dannorca.labels.descrizionedanno' | translate}}</label>
                        </div>

                    </div>

                    <div class="row" ng-if="!$ctrl.tempSegnalazione.numeroPolizza">

                        <div class="col-lg-12">
                            <hr class="blueLine">
                        </div>

                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dativeicolocliente' | translate}}</span>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.tipoVeicoloCliente.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloCliente.veicolo"
                                    name="tipoVeicoloCliente" ng-required="true" ng-change="dannoRcaForm.inputTargaCliente.$validate()">
                                <option ng-repeat="tipoVeicolo in $ctrl.tipoVeicoli" value="{{tipoVeicolo.id}}">
                                    {{tipoVeicolo.descVeicolo}}
                                </option>
                            </select>
                            <label>{{'global.veicolo.tipo' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.inputTargaCliente.$invalid}">
                            <input type="text"
                                   name="inputTargaCliente"
                                   ng-pattern="$ctrl.targaClientePattern"
                                   ng-model="$ctrl.dannoRca.veicoloCliente.targa"
                                   ng-required="true">
                            <label>{{'global.veicolo.targa' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.specialeCliente.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloCliente.speciale" name="specialeCliente" ng-required="true">
                                <option value="false">{{'global.generic.no' | translate}}</option>
                                <option value="true">{{'global.generic.si' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.speciale' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.esteraCliente.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloCliente.estera" name="esteraCliente" ng-required="true">
                                <option value="false">{{'global.generic.no' | translate}}</option>
                                <option value="true">{{'global.generic.si' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.estera' | translate}}</label>
                        </div>
                    </div>


                    <div class="row" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">

                        <div class="col-lg-12">
                            <hr class="blueLine">
                        </div>

                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dativeicolocontroparte' | translate}}</span>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.tipoVeicoloControparte.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.veicolo"
                                    name="tipoVeicoloControparte" ng-required="true" ng-change="dannoRcaForm.inputTargaControparte.$validate()">
                                <option ng-repeat="tipoVeicolo in $ctrl.tipoVeicoli" value="{{tipoVeicolo.id}}">
                                    {{tipoVeicolo.descVeicolo}}
                                </option>
                            </select>
                            <label>{{'global.veicolo.tipo' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.inputTargaControparte.$invalid}">
                            <input type="text"
                                   name="inputTargaControparte"
                                   ng-pattern="$ctrl.targaContropartePattern"
                                   ng-model="$ctrl.dannoRca.veicoloControparte.targa"
                                   ng-required="true">
                            <label>{{'global.veicolo.targa' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.specialeControparte.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.speciale" name="specialeControparte" ng-required="true">
                                <option value="false">{{'global.generic.no' | translate}}</option>
                                <option value="true">{{'global.generic.si' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.speciale' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error' : dannoRcaForm.esteraControparte.$invalid}">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.estera" name="esteraControparte" ng-required="true">
                                <option value="false">{{'global.generic.no' | translate}}</option>
                                <option value="true">{{'global.generic.si' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.estera' | translate}}</label>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">

                        <div class="col-lg-12">
                            <hr class="blueLine">
                        </div>

                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.controparti' | translate}}</span>
                        </div>

                        <div class="col-lg-12">
                            <table class="table msa-table">
                                <thead>
                                    <tr>
                                        <th>{{'global.people.soggetto' | translate}}</th>
                                        <th>{{'global.people.indirizzo' | translate}}</th>
                                        <th>{{'global.people.cfopiva' | translate}}</th>
                                        <th>{{'global.generic.azione' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="controparte in $ctrl.dannoRca.controparti">
                                        <td>{{controparte.nome ? controparte.nome + " " + controparte.cognome : controparte.ragioneSociale}}</td>
                                        <td>{{controparte.residenza.indirizzo}}</td>
                                        <td>{{controparte.cf}}</td>
                                        <td>
                                            <i ng-click="$ctrl.aggiungiControparte($index);" class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;
                                            <i ng-click="$ctrl.rimuoviControparte($index)" class="fa fa-trash-o" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="has-error">{{$ctrl.tempSegnalazione.nveicoli &gt; 1 && $ctrl.dannoRca.controparti &lt; 1 ? ('global.dannorca.labels.almenouna' | translate) : "&nbsp;"}}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td ng-click="$ctrl.aggiungiControparte()">
                                            <i ng-if="$ctrl.dannoRca.controparti.length < ($ctrl.tempSegnalazione.nveicoli - 1)" class="fa fa-plus" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>

                    <div class="col-lg-12 classicButton">
                        <button class="blueButton" ng-click="$ctrl.salvaDannoRca()"
                                ng-disabled="dannoRcaForm.$invalid || ($ctrl.tempSegnalazione.nveicoli > 1 ? $ctrl.dannoRca.controparti.length < 1 : false)">
                            <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>