
<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header">
            <h1 class="titleSection">{{'global.dannorca.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <div class="col-lg-12">

                <form name="dannoRcaForm" novalidate>

                    <pre ng-if="$debugMode">{{$ctrl.dannoRca}}</pre>
                    <pre ng-if="$debugMode">{{$ctrl.persistence}}</pre>

                    <div class="row">
                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.conducente' | translate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputRadio">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="true" name="lesioniConducente"
                                       ng-model="$ctrl.dannoRca.lesioniConducente">
                                <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingRight">
                                <input type="radio" ng-value="false" name="lesioniConducente"
                                       ng-model="$ctrl.dannoRca.lesioniConducente">
                                <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                            <label>{{'global.dannorca.labels.lesioniconducente' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 classicInputRadio">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="true" name="conducenteIsNotContraente"
                                       ng-model="$ctrl.dannoRca.conducenteIsNotContraente">
                                <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                                <input type="radio" ng-value="false" name="conducenteIsNotContraente"
                                       ng-model="$ctrl.dannoRca.conducenteIsNotContraente">
                                <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                            <label>{{'global.dannorca.labels.contraenteconducente' | translate}}</label>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.dannoRca.conducenteIsNotContraente">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="nomeConducente"
                                   ng-required="$ctrl.dannoRca.conducenteIsNotContraente">
                            <label>{{'global.people.nome' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="cognomeConducente"
                                   ng-required="$ctrl.dannoRca.conducenteIsNotContraente">
                            <label>{{'global.people.cognome' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="cfConducente"
                                   ng-required="$ctrl.dannoRca.conducenteIsNotContraente">
                            <label>{{'global.people.cf' | translate}}</label>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.dannoRca.conducenteIsNotContraente">
                        <msa-place result="$ctrl.conducente.luogo"></msa-place>
                    </div>

                    <div class="row" ng-if="$ctrl.dannoRca.conducenteIsNotContraente">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 classicInputText">
                            <select name="tipostradaConduncente">
                                <option ng-repeat="tipoStrada in $ctrl.tipiStrada">{{tipoStrada}}</option>
                            </select>
                            <label>{{'global.people.indirizzo' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12 classicInputText">
                            <input type="text" name="denominazioneConduncente" ng-required="true">
                            <label></label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 classicInputText">
                            <input type="text" name="civicoConduncente" ng-required="true">
                            <label></label>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.dannoRca.conducenteIsNotContraente">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="telefonoConducente" ng-required="true">
                            <label>{{'global.people.telefono' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="cellulareConducente" ng-required="true">
                            <label>{{'global.people.cellulare' | translate}}</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="emailConducente" ng-required="true">
                            <label>{{'global.people.email' | translate}}</label>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.dannoRca.conducenteIsNotContraente">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputText">
                            <input type="text" name="patenteConducente" ng-required="true">
                            <label>{{'global.people.patente' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputText">
                            <msa-date-selector data-result="$ctrl.conducente.data"></msa-date-selector>
                            <label>{{'global.people.scadenzapatente' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="blueLine"/>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12 col-xs-12 classicTextArea"
                             ng-class="{'col-lg-6 col-md-6': $ctrl.tempSegnalazione.nveicoli > 1, 'col-lg-12 col-md-12': $ctrl.tempSegnalazione.nveicoli <= 1}">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dannicliente' | translate}}</span>
                            <msa-auto data-auto="$ctrl.dannoRca.dannoCliente" data-input="$ctrl.persistence.dannoCliente"></msa-auto>
                            <textarea class="textauto" ng-model="$ctrl.dannoRca.descrizioneDannoCliente"></textarea>
                            <label>{{'global.dannorca.labels.descrizionedanno' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea"
                             ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dannicontroparte' | translate}}</span>
                            <msa-auto data-auto="$ctrl.dannoRca.dannoControparte"></msa-auto>
                            <textarea class="textauto" ng-model="$ctrl.dannoRca.descrizioneDannoControparte"></textarea>
                            <label>{{'global.dannorca.labels.descrizionedanno' | translate}}</label>
                        </div>

                    </div>

                    <div class="row" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                        <div class="col-lg-12">
                            <hr class="blueLine">
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.dativeicolocontroparte' | translate}}</span>
                        </div>
                    </div>

                    <div class="row" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.veicolo">
                                <option ng-repeat="tipoVeicolo in $ctrl.tipoVeicoli" ng-value="{{tipoVeicolo.id}}">
                                    {{tipoVeicolo.descVeicolo}}
                                </option>
                            </select>
                            <label>{{'global.veicolo.tipo' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText">
                            <input type="text" ng-model="$ctrl.dannoRca.veicoloControparte.targa">
                            <label>{{'global.people.nome' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.speciale">
                                <option ng-value="true">{{'global.generic.si' | translate}}</option>
                                <option ng-value="false">{{'global.generic.no' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.speciale' | translate}}</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputText">
                            <select ng-model="$ctrl.dannoRca.veicoloControparte.estera">
                                <option ng-value="true">{{'global.generic.si' | translate}}</option>
                                <option ng-value="false">{{'global.generic.no' | translate}}</option>
                            </select>
                            <label>{{'global.veicolo.estera' | translate}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr class="blueLine">
                        </div>
                    </div>

                    <div class="row">
                        <div class="margin-top-1 col-lg-12">
                            <span class="subsectionTitle">{{'global.dannorca.labels.terzeparti' | translate}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <pre>{{$ctrl.dannoRca.terzeParti}}</pre>
                            <table class="table cai-table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Cognome</th>
                                        <th>Note</th>
                                        <th>Azione</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="persona in $ctrl.dannoRca.terzeParti">
                                        <td>{{persona.nome}}</td>
                                        <td>{{persona.cognome}}</td>
                                        <td>{{persona.note}}</td>
                                        <td><i ng-click="$ctrl.dannoRca.terzeParti.splice($index, 1);" class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td ng-click="$ctrl.aggiungiTerzaParte()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>

                    <div class="col-lg-12 classicButton">
                        <button class="blueButton" ng-click="$ctrl.salvaDannoRca()">
                            <a><i class="fa fa-plus" aria-hidden="true"></i> Salva e Continua</a>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>