<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 autoContainer">
		<!--TOP-->
		<div class="arrow topLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow topCenter">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow topRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END TOP-->
		<!--MIDDLE-->
		<div class="arrow middleLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow middleRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END MIDDLE-->
		<!--BOTTOM-->
		<div class="arrow bottomLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow bottomCenter">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow bottomRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END BOTTOM-->
	</div>

	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 autoContainer">
		<!--TOP-->
		<div class="arrow topLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow topCenter">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow topRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END TOP-->
		<!--MIDDLE-->
		<div class="arrow middleLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow middleRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END MIDDLE-->
		<!--BOTTOM-->
		<div class="arrow bottomLeft">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow bottomCenter">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<div class="arrow bottomRight">
			<img src="images/auto/arrow-gray.svg">
			<!--<img src="images/auto/arrow-blue.svg">-->
		</div>
		<!--END BOTTOM-->
	</div>

</div>