<section class="row">
    <div class="containerHeader">
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
            <div class="header">
                <h1 class="titleSection">{{'global.cai.title' | translate}}</h1>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    </div>

    <div class="containerBody">
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
            <div class="body">

                <div class="row">
                    <!--INPUT RADIO-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputRadio">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                            <input type="radio" value="true" checked name="collisione">
                            <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingRight">
                            <input type="radio" value="false" name="collisione">
                            <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                        <label>{{'global.cai.labels.caicompilata' | translate}}</label>
                    </div>
                    <!--END INPUT RADIO-->

                    <!--INPUT RADIO-->
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 classicInputRadio">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                            <input type="radio" value="true" checked name="collisione">
                            <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPaddingLeft">
                            <input type="radio" value="false" name="collisione">
                            <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPaddingRight">&nbsp;</div>
                        <label>{{'global.cai.labels.caicontroparte' | translate}}</label>
                    </div>
                    <!--END INPUT RADIO-->

                    <div class="col-lg-12">
                        <hr class="blueLine"/>
                    </div>

                    <div class="col-lg-12">
                        <span class="subsectionTitle">{{'global.eventorca.labels.dettaglievento' | translate}}</span>
                    </div>

                    <br><br>

                    <div class="col-lg-12">

                        <table class="table cai-table">
                            <thead>
                                <tr>
                                    <th>{{'global.cai.labels.assicurato' | translate}}</th>
                                    <th>&nbsp;</th>
                                    <th>{{'global.cai.labels.controparte' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="noPadding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputRadio noPadding noMargin">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                                <input type="radio" value="true" checked name="collisione">
                                            </div>
                                        </div>
                                    </td>
                                    <td>Long long verylong text</td>
                                    <td class="noPadding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputRadio noPadding noMargin">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                                <input type="radio" value="true" checked name="collisione">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    </div>
</section>