<msa-banner-denuncia></msa-banner-denuncia>

<section class="row denunciaSinistro">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 leftContainer sticky">
        <msa-step
                dati-contraente="$ctrl.sinistroProvvisorio.contraente"
                mappe="$ctrl.mappe"
                percentuale="$ctrl.percentuale">

        </msa-step>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 rightContainer">

        <div class="well margin-top-2" ng-if="$debugMode">
            <pre>{{$ctrl.tempSegnalazione}}</pre>
        </div>

        <msa-segnalazione id="M11"
                          ng-if="$ctrl.isMappaVisibile('M11')"
                          numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                          sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                          temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-segnalazione>


        <!-- RCA -->
        <msa-evento-rca id="M12"
                        ng-if="$ctrl.isMappaVisibile('M12')"
                        numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                        sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                        temp-segnalazione="$ctrl.tempSegnalazione"
                        class="msaModule">
        </msa-evento-rca>

        <msa-constatazione-amichevole id="M13"
                                      ng-if="$ctrl.isMappaVisibile('M13')"
                                      numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                                      sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                                      temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-constatazione-amichevole>

        <msa-cai id="M14"
                 ng-if="$ctrl.isMappaVisibile('M14')"
                 numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                 sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                 temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-cai>

        <msa-danno-rca id="M15"
                       ng-if="$ctrl.isMappaVisibile('M15')"
                       numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                       sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                       temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-danno-rca>
        <!-- //RCA -->

        <!-- FURTO TOTALE -->
        <msa-furto-totale
              id="M30"
              ng-if="$ctrl.isMappaVisibile('M30')"
              numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
              sinistro-provvisorio="$ctrl.sinistroProvvisorio"
              temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-furto-totale>
        <!-- END FURTO TOTALE -->

        <!-- FURTO PARZIALE -->
        <msa-furto-parziale
              id="M31"
              ng-if="$ctrl.isMappaVisibile('M31')"
              numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
              sinistro-provvisorio="$ctrl.sinistroProvvisorio"
              temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-furto-parziale>
        <!-- END FURTO PARZIALE -->

        <!-- KASKO -->
        <msa-kasko
              id="M32"
              ng-if="$ctrl.isMappaVisibile('M32')"
              numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
              sinistro-provvisorio="$ctrl.sinistroProvvisorio"
              temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-kasko>
        <!-- END KASKO -->

        <!-- INCENDIO -->
        <msa-incendio-veicolo
                id="M28"
                ng-if="$ctrl.isMappaVisibile('M28')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-incendio-veicolo>

        <!-- //INCENDIO -->

        <!-- CRISTALLI -->
        <msa-cristalli id="M33"
               ng-if="$ctrl.isMappaVisibile('M33')"
               numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
               sinistro-provvisorio="$ctrl.sinistroProvvisorio"
               temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-cristalli>
        <!-- //CRISTALLI -->

        <!-- Inf Conducente -->
        <msa-infortuni-conducente id="M34"
              ng-if="$ctrl.isMappaVisibile('M34')"
              numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
              sinistro-provvisorio="$ctrl.sinistroProvvisorio"
              temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-infortuni-conducente>
        <!-- END Inf Conducente -->

        <msa-terze-parti id="M18"
                         ng-if="$ctrl.isMappaVisibile('M18')"
                         numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                         sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                         temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-terze-parti>

        <msa-legale id="M20"
                    ng-if="$ctrl.isMappaVisibile('M20')"
                    numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                    sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                    temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-legale>

        <msa-partite-danno id="M22"
                ng-if="$ctrl.isMappaVisibile('M22')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-partite-danno>

        <msa-carrozzeria-convenzionata id="M23"
                                       ng-if="$ctrl.isMappaVisibile('M23')"
                                       numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                                       sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                                       temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-carrozzeria-convenzionata>

        <msa-perito id="M25"
                    ng-if="$ctrl.isMappaVisibile('M25')"
                    numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                    sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                    temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-perito>

        <msa-documenti id="M26"
                       ng-if="$ctrl.isMappaVisibile('M26')"
                       numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                       sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                       temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-documenti>

        <msa-riepilogo id="M27"
                       ng-if="$ctrl.isMappaVisibile('M27')"
                       numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                       sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                       temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-riepilogo>


        <h2 class="backgroundHint">
            {{'global.generic.completa' | translate}}
        </h2>

    </div>

</section>