<msa-banner-denuncia></msa-banner-denuncia>

<section class="row denunciaSinistro">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 leftContainer sticky">
        <msa-step dati-contraente="$ctrl.sinistroProvvisorio.contraente"></msa-step>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 rightContainer">
        <msa-segnalazione
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-segnalazione>

        <msa-evento-rca id="M12"
                ng-if="$ctrl.isMappaVisibile('M12')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione"
                class="msaModule">
        </msa-evento-rca>

        <msa-constatazione-amichevole id="M13"
                ng-if="$ctrl.isMappaVisibile('M13')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-constatazione-amichevole>

        <msa-cai id="M14"
                ng-if="$ctrl.isMappaVisibile('M14')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">
        </msa-cai>

        <msa-danno-rca id="M15"
                ng-if="$ctrl.isMappaVisibile('M15')"
                numero-sinistro-provvisorio="$ctrl.numeroSinistroProvvisorio"
                sinistro-provvisorio="$ctrl.sinistroProvvisorio"
                temp-segnalazione="$ctrl.tempSegnalazione">

        </msa-danno-rca>

        <h2 class="backgroundHint">
            <!-- TODO: stringa scolpita -->
            Completa la sezione precedente per proseguire
        </h2>

    </div>

</section>