<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header">
            <h1 class="titleSection">{{'global.documenti.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <div class="col-lg-12">
                <pre>{{$ctrl.file}}</pre>
                <input type="file" data-bind-file="" data-ng-model="theFile" />
                <div ng-show="theFile">
                    {{theFile.name}}<br />
                    {{theFile.size}} byte(s)<br/>
                    {{theFile.type}}
                </div>
            </div>


            <div class="col-lg-12 classicTextArea">
                <textarea class="textauto" ng-model="$ctrl.documenti.note"></textarea>
                <label>{{'global.generic.note' | translate}}</label>
            </div>

        </div>
    </div>
</div>