
<msa-banner-search></msa-banner-search>

<section class="row homeContainer">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
		<msa-polizza-search data-valori-ricerca="$ctrl.valoriRicerca"></msa-polizza-search>
	</div>

    <!--<msa-polizza-result></msa-polizza-result>-->


    <div class="col-lg-12 container">
        <msa-polizze-sinistri
                ng-if="$ctrl.risultati"
                data-risultati="$ctrl.risultati"
                data-valori-ricerca="$ctrl.ricercaPolizza"
        ></msa-polizze-sinistri>
    </div>

</section>