@charset "UTF-8";

footer {
  float: left;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid $color_celeste_approx;
  padding: 15px 0;
  color: $grey;
  background: $white;
  font-size: 1.2rem;
  font-family: $font_mdCn, $font_ari, $font_sans;
  p{
    margin: 0;
  }
  &.is-sticky{
    position: fixed;
    bottom: 0;
    margin-top: 0;
  }
}
