@charset "UTF-8";

header{
  .navbar{
    min-height: 100px;
    border-radius: 0;
    &.navbar-itas{
      background-color: $itas_azure;
      margin: 0;
      padding: 0;
      border: none;
      .header-left{
        padding: 0;
        .navbar-header{
          button.navbar-toggle{
            background: none;
            color: $white;
            border: 1px solid $white;
            .icon-bar{
              color: $white;
              background-color: $white;
            }
          }
          .navbar-brand{
            background: $itas_red;
            height: 100px;
            display: table;
            margin-left: 0;
            a{
              display: table-cell;
              vertical-align: middle;
              img{
                width: 100%;
                max-width: 157px;
              }
            }
          }
        }
      }

      .header-right {
        background: $itas_azure_light;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  header{
    .navbar{
      &.navbar-itas{
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    .navbar {
      &.navbar-itas {
        .header-left {
          border: none;
        }
      }
    }
  }
}