<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header" ng-class="{'is-ok': cercaPeritoForm.$pristine, 'has-error': !cercaPeritoForm.$pristine}">
            <h1 class="titleSection">{{'global.perito.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <pre ng-if="$debugMode">{{$ctrl.perito}}</pre>

            <div class="col-lg-12">
                <span class="subsectionTitle">{{'global.perito.title' | translate}}</span>
            </div>

            <!--INPUT RADIO-->
            <form name="cercaPeritoForm" novalidate>

                <div class="col-lg-10 classicInputText">
                    <input type="text" name="indirizzo" ng-model="$ctrl.indirizzo">
                    <label>{{'global.people.indirizzo' | translate}}</label>
                </div>
                <div class="col-lg-2 classicInputText">
                    <button class="btn lightGrayButton formButton" ng-click="$ctrl.cercaPerito()">
                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;{{'global.generic.cerca' | translate}}
                    </button>
                </div>
            </form>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="denominazione" ng-model="$ctrl.perito.denominazione" ng-readonly="true">
                <label>{{'global.people.denominazione' | translate}}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="cfopiva" ng-model="$ctrl.perito.cfPartitaIva" ng-readonly="true">
                <label>{{'global.people.cfopiva' | translate}}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="telefono" ng-model="$ctrl.perito.telefono" ng-readonly="true">
                <label>{{'global.people.telefono' | translate}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputTextDisabled">
                <input type="text" name="targa" ng-model="$ctrl.perito.targaDaPerizare" ng-readonly="true">
                <label>{{'global.veicolo.targa' | translate}}</label>
            </div>
            <div class="col-lg-12 classicTextArea margin-top-2">
                <textarea class="textauto" ng-model="$ctrl.perito.notePerizia"></textarea>
                <label>{{'global.generic.note' | translate}}</label>
            </div>

            <div class="row">
                <div class="col-lg-12 classicButton">
                    <button class="blueButton" ng-click="$ctrl.salvaPerito()">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>