<section class="row polizza">

	<div class="containerHeader">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="header">
				<h1 class="titleSection">{{'global.polizza.title' | translate}}</h1>			
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="containerBody">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="body">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>{{'global.polizza.labels.cognome' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="nome">
					<label>{{'global.polizza.labels.nome' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputRadio">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
						<input type="radio" name="tipo persona" value="fisica"> 
						<label class="rightLabel">{{'global.polizza.labels.fisica' | translate}}</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingRight">
						<input type="radio" name="tipo persona" value="giuridica"> 
						<label class="rightLabel">{{'global.polizza.labels.giuridica' | translate}}</label>
					</div>
					<label>{{'global.polizza.labels.persona' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>{{'global.polizza.labels.nunpoli' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingLeft">
						<input type="text" name="nome">
						<label>{{'global.polizza.labels.numsin' | translate}}</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingRight">
						<input type="text" name="nome">
						<label>{{'global.polizza.labels.dataevento' | translate}}</label>
					</div>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome" class="targa">
					<label>{{'global.polizza.labels.targa' | translate}}</label>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>{{'global.polizza.labels.numprov' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>{{'global.polizza.labels.numpre' | translate}}</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>{{'global.polizza.labels.compagnia' | translate}}</label>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicButton">
					<div class="blueButton">
						<a>{{'global.generic.cerca' | translate}}
					</div>
				</div>		

			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

</section>