
<section class="row polizza">
	<div class="containerHeader">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="header">
				<h1 class="titleSection">Anagrafica</h1>			
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="containerBody">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="body">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>Cognome</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="nome">
					<label>Nome</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputRadio">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
						<input type="radio" name="tipo persona" value="fisica"> 
						<label class="rightLabel">Fisica</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingRight">
						<input type="radio" name="tipo persona" value="giuridica"> 
						<label class="rightLabel">Giuridica</label>
					</div>
					<label>Persona</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>Numero polizza</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingLeft">
						<input type="text" name="nome">
						<label>Numero sinistro</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingRight">
						<input type="text" name="nome">
						<label>Data evento</label>
					</div>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome" class="targa">
					<label>Targa</label>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>Numero provvisorio</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>Numero preapertura</label>
				</div>	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<input type="text" name="cognome">
					<label>Compagnia</label>
				</div>		
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</section>