<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header" ng-class="{'is-ok': eventoRcaForm.$pristine && eventoRcaForm.$valid, 'has-error': !eventoRcaForm.$pristine || !eventoRcaForm.$valid}">
            <h1 class="titleSection">{{'global.eventorca.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <div class="margin-top-1 col-lg-12">
                <span class="subsectionTitle">{{'global.eventorca.labels.dettaglievento' | translate}}</span>
            </div>

            <form name="eventoRcaForm" novalidate>

                <div class="row">
                <!--INPUT RADIO-->

                    <pre ng-if="$debugMode">{{$ctrl.eventoRca}}</pre>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputRadio"
                         ng-class="{'has-error': eventoRcaForm.collisione.$invalid}">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
                            <input name="collisione"
                                   type="radio"
                                   ng-value="true"
                                   ng-model="$ctrl.eventoRca.collisione"
                                   ng-required="true">
                            <label class="rightLabel">{{'global.generic.si' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 noPaddingRight">
                            <input name="collisione"
                                   type="radio"
                                   ng-value="false"
                                   ng-model="$ctrl.eventoRca.collisione"
                                   ng-required="true">
                            <label class="rightLabel">{{'global.generic.no' | translate}}</label>
                        </div>
                        <label>{{'global.eventorca.labels.collisione' | translate}}</label>
                    </div>
                    <!--END INPUT RADIO-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 classicInputText"
                         ng-class="{'has-error': eventoRcaForm.numVeicoli.$invalid}">
                        <input name="numVeicoli"
                               type="number"
                               ng-model="$ctrl.eventoRca.nveicoli"
                               min="1"
                               ng-required="true">
                        <label>{{'global.eventorca.labels.nveicoli' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <div class="col-lg-offset-6 col-md-offset-6 hidden-sm hidden-xs">&nbsp;</div>
                </div>
                <div class="row">

                    <msa-autorita
                        result="$ctrl.eventoRca"
                        min-date="$ctrl.tempSegnalazione.dataEvento">

                    </msa-autorita>

                </div>

            </form>
            <div class="row">
                <div class="col-lg-12 classicButton">
                    <button class="blueButton" ng-click="$ctrl.salvaEventoRca()" ng-disabled="eventoRcaForm.$invalid">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-init="callback()"></div>
</div>