<section class="row polizzaSearch" ng-if="$ctrl.bannerSearch == true && $ctrl.bannerDenuncia == false">

    <script type="text/ng-template" id="denunciaSinistroModal">
        <div class="modal-header">
            <h1>Denuncia Sinistro</h1>
        </div>

        <div class="modal-body ">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputText">
                <input type="text" name="cognome" ng-model="denunciante.nome">
                <label>{{'global.denunciasinitro.labels.cognome' | translate}}</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputText">
                <input type="text" name="nome" ng-model="denunciante.cognome">
                <label>{{'global.denunciasinitro.labels.nome' | translate}}</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputText">
                <input type="text" name="cf" ng-model="denunciante.cf">
                <label>{{'global.denunciasinitro.labels.cfopiva' | translate}}</label>
            </div>
            <div class="col-lg-12">
                <hr class="blueLine"/>
            </div>
            <div class="col-lg-12"><span class="subsectionTitle">Residenza</span></div>

            <msa-place result="denunciante.residenza"></msa-place>

            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 classicInputText">
                <select ng-model="denunciante.residenza.indirizzo.tipostrada" name="tipoStrada">
                    <option ng-repeat="tipoStrada in $ctrl.tipiStrada">{{tipoStrada}}</option>
                </select>
                <label>{{'global.denunciasinitro.labels.indirizzo' | translate}}</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12 classicInputText">
                <input type="text" name="denominazioneStrada" ng-model="denunciante.residenza.indirizzo.denominazione">
                <label>&nbsp;</label>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 classicInputText">
                <input type="text" name="numeroCivico" ng-model="denunciante.residenza.indirizzo.civico">
                <label>&nbsp;</label>
            </div>

            <div class="col-lg-12">
                <hr class="blueLine"/>
            </div>
            <div class="col-lg-12"><span class="subsectionTitle">Luogo e Data di Nascita</span></div>

            <msa-place result="denunciante.nascita"></msa-place>
            <div class="col-lg-12 classicInputText">
                <input type="text" name="dataNascita" ng-model="denunciante.nascita.data">
                <label>Data di Nascita</label>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn grayButton" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn blueButton" type="button" ng-click="ok()">OK</button>
        </div>

    </script>

	<div class="containerHeader">
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
			<div class="header">
				<h1 class="titleSection">{{'global.polizzasearch.title' | translate}}</h1>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
	</div>

	<div class="containerBody">
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
			<div class="body">
                <form name="polizzaSearchForm" novalidate>
                <!--INPUT LIST-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.compagnia' | translate}}</label>
                        <input name="compagnia" type="text" ng-model="$ctrl.compagniaSelezionata" uib-typeahead="regola as regola.descrizioneCompagnia for regola in $ctrl.casaRegole | filter:{descrizioneCompagnia:$viewValue}"  ng-required="true">
                        <label class="alert campoobbligatorio">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT LIST-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.cognome' | translate}}</label>
                        <input type="text" name="cognome" ng-model="$ctrl.ricercapolizza.cognome" ng-required="$ctrl.campiObbligatori.cognome">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.cognome">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.nome' | translate}}</label>
                        <input type="text" name="nome" ng-model="$ctrl.ricercapolizza.nome" ng-required="$ctrl.campiObbligatori.nome">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.nome">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT RADIO-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputRadio">
                        <label>{{'global.polizzasearch.labels.persona' | translate}}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
                            <input type="radio" ng-model="$ctrl.ricercapolizza.tipoPersona" value="fisica" ng-required="$ctrl.campiObbligatori.tipoPersona && !$ctrl.ricercapolizza.tipopersona">
                            <label class="rightLabel">{{'global.polizzasearch.labels.fisica' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingRight">
                            <input type="radio" ng-model="$ctrl.ricercapolizza.tipoPersona" value="giuridica" ng-required="$ctrl.campiObbligatori.tipoPersona && !$ctrl.ricercapolizza.tipopersona">
                            <label class="rightLabel">{{'global.polizzasearch.labels.giuridica' | translate}}</label>
                        </div>
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.tipoPersona">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT RADIO-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.numpoli' | translate}}</label>
                        <input type="text" name="numpoli" ng-model="$ctrl.ricercapolizza.numeroPolizza" ng-required="$ctrl.campiObbligatori.numeroPolizza">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroPolizza">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingLeft">
                            <label>{{'global.polizzasearch.labels.numsin' | translate}}</label>
                            <input type="text" name="numsin" ng-model="$ctrl.ricercapolizza.numeroSinistro" ng-required="$ctrl.campiObbligatori.numeroSinistro">
                            <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroSinistro">{{'global.polizzasearch.labels.alert' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingRight">
                            <label>{{'global.polizzasearch.labels.dataevento' | translate}}</label>
                            <input type="text" name="dataevento" ng-model="$ctrl.ricercapolizza.dataEvento" ng-required="$ctrl.campiObbligatori.dataEvento">
                            <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.dataEvento">{{'global.polizzasearch.labels.alert' | translate}}</label>
                        </div>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.targa' | translate}}</label>
                        <input type="text" name="targa" class="targa" ng-model="$ctrl.ricercapolizza.targa" ng-required="$ctrl.campiObbligatori.targa">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.targa">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.numprov' | translate}}</label>
                        <input type="text" name="numprov" ng-model="$ctrl.ricercapolizza.numeroProvvisorio" ng-required="$ctrl.campiObbligatori.numeroProvvisorio">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroProvvisorio">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
                        <label>{{'global.polizzasearch.labels.numpre' | translate}}</label>
                        <input type="text" name="numpre" ng-model="$ctrl.ricercapolizza.numeroPreapertura" ng-required="$ctrl.campiObbligatori.numeroPreapertura">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroPreapertura">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--COMMON SEARCH BUTTON-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicButton">
                        <button class="blueButton"
                                ng-disabled="polizzaSearchForm.$invalid"
                                ng-click="$ctrl.cerca()">
                            <a><i class="fa fa-search" aria-hidden="true"></i> {{'global.generic.cerca' | translate}}</a>
                        </button>
                    </div>
                    <!--END COMMON SEARCH BUTTON-->

                    <!--COMMON NUOVO SINISTRO BUTTON-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicButton">
                        <button class="blueButton"
                                ng-click="$ctrl.open()">
                            <a><i class="fa fa-plus" aria-hidden="true"></i> Denuncia Sinistro</a>
                        </button>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicButton">
                        <button class="blueButton"
                                ng-click="$ctrl.denuncia()">
                            <a><i class="fa fa-plus" aria-hidden="true"></i> Denuncia Sinistro Mock</a>
                        </button>
                    </div>

				<!--END COMMON NUOVO SINISTRO BUTTON-->
                </form>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
	</div>

</section>

<msa-polizza-result data-valori-ricerca="$ctrl.valoriRicerca" ng-if="$ctrl.valoriRicerca != undefined && $ctrl.bannerDenuncia == false"></msa-polizza-result>
<msa-polizze-sinistri data-valori-ricerca="$ctrl.valoriRicerca" data-banner-search="$ctrl.bannerSearch" data-banner-denuncia="$ctrl.bannerDenuncia" ng-if="$ctrl.valoriRicerca != undefined && $ctrl.bannerSearch == true && $ctrl.bannerDenuncia == false"></msa-polizze-sinistri>

<msa-denuncia-container denuncia-provvisoria="$ctrl.numSinistroProvv" ng-if="$ctrl.bannerSearch == false && $ctrl.bannerDenuncia == true"></msa-denuncia-container>
