<section class="row polizzaSearch" ng-show="$ctrl.valoriRicerca == undefined">

	<div class="containerHeader">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="header">
				<h1 class="titleSection">{{'global.polizzasearch.title' | translate}}</h1>			
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>

	<div class="containerBody">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 container boxShadow">
			<div class="body">

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.cognome' | translate}}</label>
					<input type="text" name="cognome" ng-model="$ctrl.ricercapolizza.cognome">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.cognome.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>	
				<!--END INPUT TEXT-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.nome' | translate}}</label>
					<input type="text" name="nome" ng-model="$ctrl.ricercapolizza.nome">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.nome.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>	
				<!--END INPUT TEXT-->

				<!--INPUT RADIO-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputRadio">
					<label>{{'global.polizzasearch.labels.persona' | translate}}</label>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
						<input type="radio" ng-model="$ctrl.ricercapolizza.tipopersona" value="fisica">
						<label class="rightLabel">{{'global.polizzasearch.labels.fisica' | translate}}</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingRight">
						<input type="radio" ng-model="$ctrl.ricercapolizza.tipopersona" value="giuridica"> 
						<label class="rightLabel">{{'global.polizzasearch.labels.giuridica' | translate}}</label>
					</div>
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.tipopersona == undefined">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>	
				<!--END INPUT RADIO-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.numpoli' | translate}}</label>
					<input type="text" name="numpoli" ng-model="$ctrl.ricercapolizza.numpoli">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.numpoli.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>
				<!--END INPUT TEXT-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingLeft">
						<label>{{'global.polizzasearch.labels.numsin' | translate}}</label>
						<input type="text" name="numsin" ng-model="$ctrl.ricercapolizza.numsin">
						<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.numsin.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingRight">
						<label>{{'global.polizzasearch.labels.dataevento' | translate}}</label>
						<input type="text" name="dataevento" ng-model="$ctrl.ricercapolizza.dataevento">
						<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.dataevento.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
					</div>
				</div>	
				<!--END INPUT TEXT-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.targa' | translate}}</label>
					<input type="text" name="targa" class="targa" ng-model="$ctrl.ricercapolizza.targa">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.targa.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>
				<!--END INPUT TEXT-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.numprov' | translate}}</label>
					<input type="text" name="numprov" ng-model="$ctrl.ricercapolizza.numprov">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.numprov.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>	
				<!--END INPUT TEXT-->

				<!--INPUT TEXT-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText">
					<label>{{'global.polizzasearch.labels.numpre' | translate}}</label>
					<input type="text" name="numpre" ng-model="$ctrl.ricercapolizza.numpre">
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.numpre.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
				</div>	
				<!--END INPUT TEXT-->

				<!--INPUT LIST-->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputTextList">
					<label>{{'global.polizzasearch.labels.compagnia' | translate}}</label>
					<div class="containerArrow" ng-click="$ctrl.open.compagnia = !$ctrl.open.compagnia">
						<i aria-hidden="true" ng-class="{'fa fa-chevron-up': $ctrl.open.compagnia, 'fa fa-chevron-down': !$ctrl.open.compagnia}"></i>
						<input type="text" name="compagnia" ng-model="$ctrl.ricercapolizza.compagniaselected">
					</div>
					<label class="alert campoobbligatorio" ng-show="$ctrl.ricercapolizza.compagniaselected == undefined || $ctrl.ricercapolizza.compagniaselected.length == 0">{{'global.polizzasearch.labels.alert' | translate}}</label>
					<ul ng-show="$ctrl.open.compagnia">
						<li ng-repeat="compagnia in $ctrl.ricercapolizza.compagnie.elenco | filter : $ctrl.ricercapolizza.compagniaselected" 
							ng-click="$ctrl.compagniaSelected(compagnia)">
							{{compagnia}}
						</li>
					</ul>
				</div>
				<!--END INPUT LIST-->

				<!--COMMON SEARCH BUTTON-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicButton">
					<button class="blueButton"
							ng-disabled="$ctrl.ricercapolizza.cognome.length == 0 || $ctrl.ricercapolizza.nome.length == 0 || $ctrl.ricercapolizza.tipopersona == undefined || $ctrl.ricercapolizza.numpoli == 0 || $ctrl.ricercapolizza.numsin.length == 0 || $ctrl.ricercapolizza.dataevento.length == 0 || $ctrl.ricercapolizza.targa.length == 0 || $ctrl.ricercapolizza.numprov.length == 0 || $ctrl.ricercapolizza.numpre.length == 0 || $ctrl.ricercapolizza.compagniaselected == undefined || $ctrl.ricercapolizza.compagniaselected.length == 0"
							ng-click="$ctrl.cerca()">
						<a><i class="fa fa-search" aria-hidden="true"></i> {{'global.generic.cerca' | translate}}</a>
					</button>
				</div>		
				<!--END COMMON SEARCH BUTTON-->

			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

	</div>

</section>

<msa-polizza-result data-valori-ricerca="$ctrl.valoriRicerca" ng-show="$ctrl.valoriRicerca != undefined"></msa-polizza-result>
<msa-polizze-sinistri data-valori-ricerca="$ctrl.valoriRicerca" ng-show="$ctrl.valoriRicerca != undefined"></msa-polizze-sinistri>