<section class="row polizzaSearch">

	<div class="containerHeader">
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
			<div class="header">
				<h1 class="titleSection">{{'global.polizzasearch.title' | translate}}</h1>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
	</div>

	<div class="containerBody">

		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 container boxShadow">
			<div class="body">
                <form name="polizzaSearchForm" novalidate>
                <!--INPUT LIST-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': $ctrl.checkCompagnia()}">
                        <label>{{'global.polizzasearch.labels.compagnia' | translate}}</label>
                        <select name="compagnia" ng-options="regola as regola.descrizioneCompagnia for regola in $ctrl.casaRegole" ng-model="$ctrl.ricercaPolizza.compagniaSelezionata"
                               ng-required="true">
								<option value=""></option>
                        </select>
                        <label class="alert campoobbligatorio">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT LIST-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': polizzaSearchForm.cognome.$invalid}">
                        <label>{{'global.polizzasearch.labels.cognome' | translate}}</label>
                        <input type="text" name="cognome" ng-model="$ctrl.ricercaPolizza.cognome" ng-required="$ctrl.campiObbligatori.cognome">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.cognome">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': polizzaSearchForm.nome.$invalid}">
                        <label>{{'global.polizzasearch.labels.nome' | translate}}</label>
                        <input type="text" name="nome" ng-model="$ctrl.ricercaPolizza.nome" ng-required="$ctrl.campiObbligatori.nome">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.nome">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT RADIO-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputRadio" ng-class="{'has-error': polizzaSearchForm.tipoPersona.$invalid}">
                        <label>{{'global.polizzasearch.labels.persona' | translate}}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
                            <input name="tipoPersona" type="radio" ng-model="$ctrl.ricercaPolizza.tipoPersona" value="fisica"  ng-required="$ctrl.campiObbligatori.tipoPersona && !$ctrl.ricercaPolizza.tipopersona">
                            <label class="rightLabel">{{'global.polizzasearch.labels.fisica' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingRight">
                            <input name="tipoPersona" type="radio" ng-model="$ctrl.ricercaPolizza.tipoPersona" value="giuridica" ng-required="$ctrl.campiObbligatori.tipoPersona && !$ctrl.ricercaPolizza.tipopersona">
                            <label class="rightLabel">{{'global.polizzasearch.labels.giuridica' | translate}}</label>
                        </div>
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.tipoPersona">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT RADIO-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': polizzaSearchForm.numPoli.$invalid}">
                        <label>{{'global.polizzasearch.labels.numpoli' | translate}}</label>
                        <input type="text" name="numpoli" ng-model="$ctrl.ricercaPolizza.numeroPolizza" ng-required="$ctrl.campiObbligatori.numeroPolizza">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroPolizza">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingLeft" ng-class="{'has-error': polizzaSearchForm.numsin.$invalid}">
                            <label>{{'global.polizzasearch.labels.numsin' | translate}}</label>
                            <input type="text" name="numsin" ng-model="$ctrl.ricercaPolizza.numeroSinistro" ng-required="$ctrl.campiObbligatori.numeroSinistro">
                            <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroSinistro">{{'global.polizzasearch.labels.alert' | translate}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 classicInputText noPaddingRight" ng-class="{'has-error': polizzaSearchForm.dataevento.$invalid}">
                            <label>{{'global.polizzasearch.labels.dataevento' | translate}}</label>
                            <p class="input-group">
                                <input datetimepicker-neutral-timezone type="text"
                                       uib-datepicker-popup="{{$MSAC.DEFAULT_DATE_OPTIONS.format}}"
                                       ng-model="$ctrl.ricercaPolizza.dataEvento"
                                       is-open="openedDataDenuncia"
                                       datepicker-options="$MSAC.DEFAULT_DATE_OPTIONS.options"
                                       show-button-bar="{{$MSAC.DEFAULT_DATE_OPTIONS.showButtonBar}}"
                                       placeholder="{{$MSAC.DEFAULT_DATE_OPTIONS.placeholder}}"
                                       ng-required="$ctrl.campiObbligatori.dataEvento"
                                       name="dataevento"
                                       ng-click="openedDataDenuncia = !openedDataDenuncia"
                                />

                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn btn-default btn-special"
                                            ng-click="openedDataDenuncia = !openedDataDenuncia">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </p>
                            <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.dataEvento">{{'global.polizzasearch.labels.alert' | translate}}</label>
                        </div>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': polizzaSearchForm.targa.$invalid}">
                        <label>{{'global.polizzasearch.labels.targa' | translate}}</label>
                        <input type="text" name="targa" class="targa" ng-model="$ctrl.ricercaPolizza.targa" ng-required="$ctrl.campiObbligatori.targa">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.targa">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error': polizzaSearchForm.numprov.$invalid}">
                        <label>{{'global.polizzasearch.labels.numprov' | translate}}</label>
                        <input type="text" name="numprov" ng-model="$ctrl.ricercaPolizza.numeroProvvisorio" ng-required="$ctrl.campiObbligatori.numeroProvvisorio">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroProvvisorio">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--INPUT TEXT-->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 classicInputText" ng-class="{'has-error':  polizzaSearchForm.numpre.$invalid}">
                        <label>{{'global.polizzasearch.labels.numpre' | translate}}</label>
                        <input type="text" name="numpre" ng-model="$ctrl.ricercaPolizza.numeroPreapertura" ng-required="$ctrl.campiObbligatori.numeroPreapertura">
                        <label class="alert campoobbligatorio" ng-show="$ctrl.campiObbligatori.numeroPreapertura">{{'global.polizzasearch.labels.alert' | translate}}</label>
                    </div>
                    <!--END INPUT TEXT-->

                    <!--COMMON SEARCH BUTTON-->
                    <div class="col-lg-12 classicButton">
                        <button class="blueButton"
                                ng-disabled="$ctrl.isSearchDisabled()"
                                ng-click="$ctrl.cerca()">
                            <a><i class="fa fa-search" aria-hidden="true"></i> {{'global.generic.cerca' | translate}}</a>
                        </button>
                    </div>
                    <!--END COMMON SEARCH BUTTON-->

                </form>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
	</div>

</section>

