<ng-form name="{{name}}">
    <p class="input-group">
        <input type="text"
               uib-datepicker-popup="{{format}}"
               ng-model="date"
               is-open="opened"
               datepicker-options="dateOptions"
               show-button-bar="false"
               ng-disabled="$ctrl.disabled"
               placeholder="DD/MM/YYYY"
               ng-required="$ctrl.required"
               />

        <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default btn-special"
                    ng-click="open()"
                    ng-disabled="$ctrl.disabled">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </button>
        </span>
    </p>
</ng-form>