<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header" ng-class="{'is-ok': cercaCarrozzeriaForm.$pristine && cercaCarrozzeriaForm.$valid, 'has-error': !cercaCarrozzeriaForm.$pristine || !cercaCarrozzeriaForm.$valid}">
            <h1 class="titleSection">{{'global.carrozzeria.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">


            <div class="col-lg-10 classicInputText">
                <input type="text" name="indirizzo" ng-model="$ctrl.indirizzo">
                <label>{{'global.people.indirizzo' | translate}}</label>
            </div>
            <div class="col-lg-2 classicInputText">
                <button class="btn lightGrayButton formButton" ng-click="$ctrl.cercaCarrozzerie()"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;{{'global.generic.cerca' | translate}}</button>
            </div>


            <div class="col-lg-12">
                <pre>{{search}}</pre>
            </div>

            <div class="col-lg-8 noPaddingRight">
                <ui-gmap-google-map
                        id="carrozzerieMap"
                        center="map.center"
                        zoom="map.zoom"
                        options="map.options"
                        events="map.events"
                        >
                    <ui-gmap-markers
                            models="$ctrl.markers"
                            coords="'self'"
                            click="markerClick"
                            icon="'icon'"
                            doclusters="true">
                    </ui-gmap-markers>

                    <ui-gmap-marker
                            idkey="9999"
                            coords="search.center"
                            options="search.options"
                    >
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>

            <div class="col-lg-4">

                <ul class="carrozzerie noPaddingLeft">
                    <li ng-show="$ctrl.visibleMarkers.length === 0">
                        <i class="fa fa-exclamation-triangle error" aria-hidden="true"></i>
                        <span class="name">{{'global.carrozzeria.messaggi.nessuna' | translate}}</span><br>
                    </li>
                    <li ng-repeat="marker in $ctrl.visibleMarkers" ng-click="$ctrl.selezionaCarrozzeria($index)">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <span class="name">&nbsp;{{marker.nome}}</span><br>
                        <hr class="blueLine"/>
                    </li>
                </ul>

            </div>

            <form name="cercaCarrozzeriaForm" novalidate>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputTextDisabled margin-top-2">
                    <input type="text" name="carrozzeriaSelezionata" ng-model="$ctrl.carrozzeriaSelezionata.nome" ng-readonly="true" ng-required="true">
                    <label>{{'global.carrozzeria.labels.selezionata' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicInputTextDisabled margin-top-2">
                    <input type="text" name="peritoAssociato" ng-model="$ctrl.peritoAssociato.denominazione" ng-readonly="true">
                    <label>{{'global.carrozzeria.labels.perito' | translate}}</label>
                </div>

            </form>

            <div class="row">
                <div class="col-lg-12 classicButton">
                    <button class="blueButton" ng-click="$ctrl.salvaCarrozzeria()" ng-disabled="cercaCarrozzeriaForm.$invalid">
                        <a><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'global.generic.salvaprocedi' | translate}}</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>