<div class="containerHeader">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="header">
            <h1 class="titleSection">{{'global.cai.title' | translate}}</h1>
        </div>
    </div>
</div>

<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">

            <pre ng-if="$debugMode">{{$ctrl.tempSegnalazione}}</pre>
            <pre ng-if="$debugMode">{{$ctrl}}</pre>
            <div class="col-lg-12">
                <table class="table cai-table">
                    <thead>
                    <tr>
                        <th>{{'global.cai.labels.assicurato' | translate}}</th>
                        <th>&nbsp;</th>
                        <th ng-if="$ctrl.tempSegnalazione.nveicoli > 1">{{'global.cai.labels.controparte' |
                            translate}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bareme in $ctrl.baremes">
                        <td class="noPadding">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputRadio noPadding noMargin">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <input type="radio" value="{{bareme.id}}" name="assicurato"
                                           ng-model="$ctrl.baremeAssicurato">
                                </div>
                            </div>
                        </td>
                        <td ng-class="{'force-text-left': $ctrl.tempSegnalazione.nveicoli <= 1}">
                            {{bareme.descrizione}}
                        </td>
                        <td class="noPadding" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 classicInputRadio noPadding noMargin">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                                    <input type="radio" value="{{bareme.id}}" name="controparte"
                                           ng-model="$ctrl.baremeControparte">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="col-sm-12 col-xs-12 classicTextArea" ng-class="{'col-lg-6 col-md-6': $ctrl.tempSegnalazione.nveicoli > 1, 'col-lg-12 col-md-12': $ctrl.tempSegnalazione.nveicoli <= 1}">
                    <textarea class="textauto" ng-model="$ctrl.osservazioniAssicurato"></textarea>
                    <label>{{'global.cai.labels.osservazioniassicurato' | translate}}</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 classicTextArea" ng-if="$ctrl.tempSegnalazione.nveicoli > 1">
                    <textarea class="textauto" ng-model="$ctrl.osservazioniControparte"></textarea>
                    <label>{{'global.cai.labels.osservazionicontroparte' | translate}}</label>
                </div>

                <div ng-if="$ctrl.tempSegnalazione.nveicoli > 1">

                    <div class="col-lg-12">
                        <hr class="blueLine"/>
                    </div>

                    <div class="col-lg-12">
                        <span class="subsectionTitle">{{'global.cai.labels.responsabilita' | translate}}</span>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputCheckBox">
                        <input type="checkbox" id="checkAssicurato" disabled ng-checked="$ctrl.responsabilita.cliente">
                        <label for="checkAssicurato">{{'global.cai.labels.assicurato' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputCheckBox">
                        <input type="checkbox" id="checkControparte" disabled
                               ng-checked="$ctrl.responsabilita.controparte">
                        <label for="checkControparte">{{'global.cai.labels.controparte' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputCheckBox">
                        <input type="checkbox" id="checkConcorsuale" disabled
                               ng-checked="$ctrl.responsabilita.concorsuale">
                        <label for="checkConcorsuale">{{'global.cai.labels.concorsuale' | translate}}</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 classicInputCheckBox">
                        <input type="checkbox" id="checkNonClassificabile" disabled
                               ng-checked="$ctrl.responsabilita.nonClassificabile">
                        <label for="checkNonClassificabile">{{'global.cai.labels.nonclassificabile' |
                            translate}}</label>
                    </div>
                </div>

            </div>

            <div class="col-lg-12 classicButton">
                <button class="blueButton" ng-click="$ctrl.salvaCai()">
                    <a><i class="fa fa-plus" aria-hidden="true"></i> Salva e Continua</a>
                </button>
            </div>

        </div>
    </div>
</div>