<!--PROGRESS GRAPHIC-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 stepContainer noPadding">
		<div ng-if="$ctrl.step == 1">
			<img class="step" src="images/step/1.svg" alt="">
			<p>0%</p>
		</div>
		<div ng-if="$ctrl.step == 2">
			<img class="step" src="images/step/2.svg" alt="">
			<p>14%</p>
		</div>
		<div ng-if="$ctrl.step == 3">
			<img class="step" src="images/step/3.svg" alt="">
			<p>29%</p>
		</div>
		<div ng-if="$ctrl.step == 4">
			<img class="step" src="images/step/4.svg" alt="">
			<p>43%</p>
		</div>
		<div ng-if="$ctrl.step == 5">
			<img class="step" src="images/step/5.svg" alt="">
			<p>57%</p>
		</div>
		<div ng-if="$ctrl.step == 6">
			<img class="step" src="images/step/6.svg" alt="">
			<p>71%</p>
		</div>
		<div ng-if="$ctrl.step == 7">
			<img class="step" src="images/step/7.svg" alt="">
			<p>86%</p>
		</div>
		<div ng-if="$ctrl.step == 8">
			<img class="step" src="images/step/8.svg" alt="">
			<p>100%</p>
		</div>
	</div>
</div>
<!--END PROGRESS GRAPHIC-->

<!--USER-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
		<div class="body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<h1>{{$ctrl.user.nome}}</h1>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<h2>{{$ctrl.user.cf}}</h2>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<label class="ng-binding">{{'global.step.labels.nascita' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.nascita}}</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<label class="ng-binding">{{'global.step.labels.residenza' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.residenza}}</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<label class="ng-binding">{{'global.step.labels.recapiti' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.recapiti}}</p>
			</div>
		</div>
	</div>
</div>
<!--END USER-->

<!--SEGNALAZIONI-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
		<ul class="listaSsegnalazioni">
			<!--<li ng-click="$ctrl.step = 1" ng-show="$ctrl.step >= 1">-->
			<li ng-click="$ctrl.scrollTo('M14')">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 1, 'line-disabled': $ctrl.step > 1}">
                    {{'global.step.labels.segnalazione' | translate}}
                </div>
			</li>
			<li ng-click="$ctrl.step = 2" ng-if="$parent.isMappaVisibile('M12')">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 2, 'line-disabled': $ctrl.step > 2}">{{'global.step.labels.evento' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 3">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 3, 'line-disabled': $ctrl.step > 3}">{{'global.step.labels.constatazione' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 4">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 4, 'line-disabled': $ctrl.step > 4}">{{'global.step.labels.danno' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 5">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 5, 'line-disabled': $ctrl.step > 5}">{{'global.step.labels.terzeparti' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 6">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 6, 'line-disabled': $ctrl.step > 6}">{{'global.step.labels.legale' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 7">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 7, 'line-disabled': $ctrl.step > 7}">{{'global.step.labels.daticonsultivi' | translate}}</div>
			</li>
			<li ng-click="$ctrl.step = 8">
				<div class="segnalazione" ng-class="{'line-enabled': $ctrl.step == 8, 'line-disabled': $ctrl.step > 8}">{{'global.step.labels.riepilogo' | translate}}</div>
			</li>
		</ul>
	</div>
</div>
<!--END SEGNALAZIONI-->


<!--BOTTONI-->
<div class="containerBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
        <div class="body">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 smallButton">
                <p><i class="fa fa-floppy-o" aria-hidden="true"></i> {{'global.generic.salva' | translate}}</p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 smallButton">
                <p><i class="fa fa-question" aria-hidden="true"></i> {{'global.generic.help' | translate}}</p>
            </div>
        </div>
    </div>
</div>
<!--END BOTTONI-->