<!--PROGRESS GRAPHIC-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 stepContainer noPadding">
		<div ng-if="$ctrl.step == 1">
			<img class="step" src="images/step/1.svg" alt="">
			<p>0%</p>
		</div>
		<div ng-if="$ctrl.step == 2">
			<img class="step" src="images/step/2.svg" alt="">
			<p>14%</p>
		</div>
		<div ng-if="$ctrl.step == 3">
			<img class="step" src="images/step/3.svg" alt="">
			<p>29%</p>
		</div>
		<div ng-if="$ctrl.step == 4">
			<img class="step" src="images/step/4.svg" alt="">
			<p>43%</p>
		</div>
		<div ng-if="$ctrl.step == 5">
			<img class="step" src="images/step/5.svg" alt="">
			<p>57%</p>
		</div>
		<div ng-if="$ctrl.step == 6">
			<img class="step" src="images/step/6.svg" alt="">
			<p>71%</p>
		</div>
		<div ng-if="$ctrl.step == 7">
			<img class="step" src="images/step/7.svg" alt="">
			<p>86%</p>
		</div>
		<div ng-if="$ctrl.step == 8">
			<img class="step" src="images/step/8.svg" alt="">
			<p>100%</p>
		</div>
	</div>
</div>
<!--END PROGRESS GRAPHIC-->

<!--USER-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
		<div class="body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<h1>{{$ctrl.user.nome}}</h1>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<h2>{{$ctrl.user.cf}}</h2>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail" ng-if="$ctrl.user.nascita">
				<label class="ng-binding">{{'global.people.nascita' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.nascita}}</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<label class="ng-binding">{{'global.people.residenza' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.residenza}}</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 userDetail">
				<label class="ng-binding">{{'global.people.recapiti' | translate}}</label>
				<hr>
				<p class="ng-binding">{{$ctrl.user.recapiti}}</p>
			</div>
		</div>
	</div>
</div>
<!--END USER-->

<!--SEGNALAZIONI-->
<div class="containerBody">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">
		<ul class="listaSsegnalazioni">
            <li ng-hide="$ctrl.mappe.length > 0">
                <div class="segnalazione line-enabled">
                    {{'global.step.labels.M11' | translate}}
                </div>
            </li>
			<li ng-repeat="mappa in $ctrl.mappe" ng-click="$ctrl.scrollTo(mappa)">
				<div class="segnalazione" ng-class="{'line-enabled': $index == ($ctrl.mappe.length - 1)}">
                    {{('global.step.labels.' + mappa) | translate}}
                </div>
			</li>
		</ul>
	</div>
</div>
<!--END SEGNALAZIONI-->


<!--BOTTONI-->
<!--<div class="containerBody">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container boxShadow">-->
        <!--<div class="body">-->
            <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 smallButton">-->
                <!--<p><i class="fa fa-floppy-o" aria-hidden="true"></i> {{'global.generic.salva' | translate}}</p>-->
            <!--</div>-->
            <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 smallButton">-->
                <!--<p><i class="fa fa-question" aria-hidden="true"></i> {{'global.generic.help' | translate}}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--END BOTTONI-->